flex-basis()
  vendors = ()

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
      'chrome < 29',
      'safari',
      'opera < 17',
      'ios-safari',
      'blackberry-browser'
    )
    push(vendors, webkit)

  vendorize('flex-basis', arguments, vendors)