/**
 * References:
 *
 * http://caniuse.com/flexbox
 * http://css-tricks.com/old-flexbox-and-new-flexbox/
 * http://coding.smashingmagazine.com/2013/05/22/centering-elements-with-flexbox/
 * https://github.com/visionmedia/nib/blob/master/lib/nib/flex.styl
 * https://github.com/h5bp/lazyweb-requests/issues/120
 * http://dev.opera.com/articles/view/advanced-cross-browser-flexbox/
 * https://gist.github.com/cimmanon/727c9d558b374d27c5b6
 * https://gist.github.com/cimmanon/4461470
 */

@require 'flex-direction'
@require 'flex-wrap'
@require 'flex-grow'
@require 'flex-shrink'
@require 'flex-basis'
@require 'flex-flow'
@require 'flex'
