/**
 * References:
 *
 * http://caniuse.com/flexbox
 * http://css-tricks.com/old-flexbox-and-new-flexbox/
 * http://coding.smashingmagazine.com/2013/05/22/centering-elements-with-flexbox/
 * https://github.com/visionmedia/nib/blob/master/lib/nib/flex.styl
 * https://github.com/h5bp/lazyweb-requests/issues/120
 *
 * Big thanks to Smashing Magazine for the awesome article!
 */

@require 'justify-content'
@require 'align-items'
@require 'align-self'
@require 'align-content'
@require 'order'
@require 'flex-direction'
