// @describe `blend()`
// @it `normal`
body
  color: blend('normal', #a6ca0e, #a6ca0e)
  color: blend('normal', #c22be1, #a6ca0e)
  color: blend('normal', #a6ca0e, #c22be1)
  color: blend('normal', #c22be1, #c22be1)

// @expect

body {
  color: #a6ca0e;
  color: #c22be1;
  color: #a6ca0e;
  color: #c22be1;
}
// @it `multiply`
body
  color: blend('multiply', #a6ca0e, #a6ca0e)
  color: blend('multiply', #c22be1, #a6ca0e)
  color: blend('multiply', #a6ca0e, #c22be1)
  color: blend('multiply', #c22be1, #c22be1)

// @expect

body {
  color: #6ca001;
  color: #7e220c;
  color: #7e220c;
  color: #9407c7;
}
// @it `screen`
body
  color: blend('screen', #a6ca0e, #a6ca0e)
  color: blend('screen', #c22be1, #a6ca0e)
  color: blend('screen', #a6ca0e, #c22be1)
  color: blend('screen', #c22be1, #c22be1)

// @expect

body {
  color: #e0f41b;
  color: #ead3e3;
  color: #ead3e3;
  color: #f04ffb;
}
// @it `overlay`
body
  color: blend('overlay', #a6ca0e, #a6ca0e)
  color: blend('overlay', #c22be1, #a6ca0e)
  color: blend('overlay', #a6ca0e, #c22be1)
  color: blend('overlay', #c22be1, #c22be1)

// @expect

body {
  color: #c1e902;
  color: #d4a719;
  color: #d444c6;
  color: #e20ff8;
}
// @it `darken`
body
  color: blend('darken', #a6ca0e, #a6ca0e)
  color: blend('darken', #c22be1, #a6ca0e)
  color: blend('darken', #a6ca0e, #c22be1)
  color: blend('darken', #c22be1, #c22be1)

// @expect

body {
  color: #a6ca0e;
  color: #a62b0e;
  color: #a62b0e;
  color: #c22be1;
}
// @it `lighten`
body
  color: blend('lighten', #a6ca0e, #a6ca0e)
  color: blend('lighten', #c22be1, #a6ca0e)
  color: blend('lighten', #a6ca0e, #c22be1)
  color: blend('lighten', #c22be1, #c22be1)

// @expect

body {
  color: #a6ca0e;
  color: #c2cae1;
  color: #c2cae1;
  color: #c22be1;
}
// @it `color-dodge`
body
  color: blend('color-dodge', #a6ca0e, #a6ca0e)
  color: blend('color-dodge', #c22be1, #a6ca0e)
  color: blend('color-dodge', #a6ca0e, #c22be1)
  color: blend('color-dodge', #c22be1, #c22be1)

// @expect

body {
  color: #ffff0f;
  color: #fff377;
  color: #ffcfee;
  color: #ff34ff;
}
// @it `color-burn`
body
  color: blend('color-burn', #a6ca0e, #a6ca0e)
  color: blend('color-burn', #c22be1, #a6ca0e)
  color: blend('color-burn', #a6ca0e, #c22be1)
  color: blend('color-burn', #c22be1, #c22be1)

// @expect

body {
  color: #76bc00;
  color: #8a0000;
  color: #a10000;
  color: #af00dd;
}
// @it `hard-light`
body
  color: blend('hard-light', #a6ca0e, #a6ca0e)
  color: blend('hard-light', #c22be1, #a6ca0e)
  color: blend('hard-light', #a6ca0e, #c22be1)
  color: blend('hard-light', #c22be1, #c22be1)

// @expect

body {
  color: #c1e902;
  color: #d444c6;
  color: #d4a719;
  color: #e20ff8;
}
// @it `soft-light`
body
  color: blend('soft-light', #a6ca0e, #a6ca0e)
  color: blend('soft-light', #c22be1, #a6ca0e)
  color: blend('soft-light', #a6ca0e, #c22be1)
  color: blend('soft-light', #c22be1, #c22be1)

// @expect

body {
  color: #b2d902;
  color: #bbae28;
  color: #cb4fc9;
  color: #d113ec;
}
// @it `difference`
body
  color: blend('difference', #a6ca0e, #a6ca0e)
  color: blend('difference', #c22be1, #a6ca0e)
  color: blend('difference', #a6ca0e, #c22be1)
  color: blend('difference', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #1c9fd3;
  color: #1c9fd3;
  color: #000;
}
// @it `exclusion`
body
  color: blend('exclusion', #a6ca0e, #a6ca0e)
  color: blend('exclusion', #c22be1, #a6ca0e)
  color: blend('exclusion', #a6ca0e, #c22be1)
  color: blend('exclusion', #c22be1, #c22be1)

// @expect

body {
  color: #74541a;
  color: #6bb1d6;
  color: #6bb1d6;
  color: #5d4835;
}
// @it `hue`
body
  color: blend('hue', #a6ca0e, #a6ca0e)
  color: blend('hue', #c22be1, #a6ca0e)
  color: blend('hue', #a6ca0e, #c22be1)
  color: blend('hue', #c22be1, #c22be1)

// @expect

body {
  color: #a6ca0e;
  color: #e97bff;
  color: #698200;
  color: #c22be1;
}
// @it `saturation`
body
  color: blend('saturation', #a6ca0e, #a6ca0e)
  color: blend('saturation', #c22be1, #a6ca0e)
  color: blend('saturation', #a6ca0e, #c22be1)
  color: blend('saturation', #c22be1, #c22be1)

// @expect

body {
  color: #a6ca0e;
  color: #a6c913;
  color: #c529e5;
  color: #c22be1;
}
// @it `color`
body
  color: blend('color', #a6ca0e, #a6ca0e)
  color: blend('color', #c22be1, #a6ca0e)
  color: blend('color', #a6ca0e, #c22be1)
  color: blend('color', #c22be1, #c22be1)

// @expect

body {
  color: #a6ca0e;
  color: #e97bff;
  color: #698200;
  color: #c22be1;
}
// @it `luminosity`
body
  color: blend('luminosity', #a6ca0e, #a6ca0e)
  color: blend('luminosity', #c22be1, #a6ca0e)
  color: blend('luminosity', #a6ca0e, #c22be1)
  color: blend('luminosity', #c22be1, #c22be1)

// @expect

body {
  color: #a6ca0e;
  color: #698200;
  color: #e97bff;
  color: #c22be1;
}