// @describe `blend()`
// @it `normal`
body
  color: blend('normal', #000000, #000000)
  color: blend('normal', #ffffff, #000000)
  color: blend('normal', #a633da, #000000)
  color: blend('normal', #4be5b4, #000000)
  color: blend('normal', #2fee48, #000000)
  color: blend('normal', #a6ca0e, #000000)
  color: blend('normal', #c22be1, #000000)
  color: blend('normal', #000000, #ffffff)
  color: blend('normal', #ffffff, #ffffff)
  color: blend('normal', #a633da, #ffffff)
  color: blend('normal', #4be5b4, #ffffff)
  color: blend('normal', #2fee48, #ffffff)
  color: blend('normal', #a6ca0e, #ffffff)
  color: blend('normal', #c22be1, #ffffff)
  color: blend('normal', #000000, #a633da)
  color: blend('normal', #ffffff, #a633da)
  color: blend('normal', #a633da, #a633da)
  color: blend('normal', #4be5b4, #a633da)
  color: blend('normal', #2fee48, #a633da)
  color: blend('normal', #a6ca0e, #a633da)
  color: blend('normal', #c22be1, #a633da)
  color: blend('normal', #000000, #4be5b4)
  color: blend('normal', #ffffff, #4be5b4)
  color: blend('normal', #a633da, #4be5b4)
  color: blend('normal', #4be5b4, #4be5b4)
  color: blend('normal', #2fee48, #4be5b4)
  color: blend('normal', #a6ca0e, #4be5b4)
  color: blend('normal', #c22be1, #4be5b4)
  color: blend('normal', #000000, #2fee48)
  color: blend('normal', #ffffff, #2fee48)
  color: blend('normal', #a633da, #2fee48)
  color: blend('normal', #4be5b4, #2fee48)
  color: blend('normal', #2fee48, #2fee48)
  color: blend('normal', #a6ca0e, #2fee48)
  color: blend('normal', #c22be1, #2fee48)
  color: blend('normal', #000000, #a6ca0e)
  color: blend('normal', #ffffff, #a6ca0e)
  color: blend('normal', #a633da, #a6ca0e)
  color: blend('normal', #4be5b4, #a6ca0e)
  color: blend('normal', #2fee48, #a6ca0e)
  color: blend('normal', #a6ca0e, #a6ca0e)
  color: blend('normal', #c22be1, #a6ca0e)
  color: blend('normal', #000000, #c22be1)
  color: blend('normal', #ffffff, #c22be1)
  color: blend('normal', #a633da, #c22be1)
  color: blend('normal', #4be5b4, #c22be1)
  color: blend('normal', #2fee48, #c22be1)
  color: blend('normal', #a6ca0e, #c22be1)
  color: blend('normal', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
}
// @it `multiply`
body
  color: blend('multiply', #000000, #000000)
  color: blend('multiply', #ffffff, #000000)
  color: blend('multiply', #a633da, #000000)
  color: blend('multiply', #4be5b4, #000000)
  color: blend('multiply', #2fee48, #000000)
  color: blend('multiply', #a6ca0e, #000000)
  color: blend('multiply', #c22be1, #000000)
  color: blend('multiply', #000000, #ffffff)
  color: blend('multiply', #ffffff, #ffffff)
  color: blend('multiply', #a633da, #ffffff)
  color: blend('multiply', #4be5b4, #ffffff)
  color: blend('multiply', #2fee48, #ffffff)
  color: blend('multiply', #a6ca0e, #ffffff)
  color: blend('multiply', #c22be1, #ffffff)
  color: blend('multiply', #000000, #a633da)
  color: blend('multiply', #ffffff, #a633da)
  color: blend('multiply', #a633da, #a633da)
  color: blend('multiply', #4be5b4, #a633da)
  color: blend('multiply', #2fee48, #a633da)
  color: blend('multiply', #a6ca0e, #a633da)
  color: blend('multiply', #c22be1, #a633da)
  color: blend('multiply', #000000, #4be5b4)
  color: blend('multiply', #ffffff, #4be5b4)
  color: blend('multiply', #a633da, #4be5b4)
  color: blend('multiply', #4be5b4, #4be5b4)
  color: blend('multiply', #2fee48, #4be5b4)
  color: blend('multiply', #a6ca0e, #4be5b4)
  color: blend('multiply', #c22be1, #4be5b4)
  color: blend('multiply', #000000, #2fee48)
  color: blend('multiply', #ffffff, #2fee48)
  color: blend('multiply', #a633da, #2fee48)
  color: blend('multiply', #4be5b4, #2fee48)
  color: blend('multiply', #2fee48, #2fee48)
  color: blend('multiply', #a6ca0e, #2fee48)
  color: blend('multiply', #c22be1, #2fee48)
  color: blend('multiply', #000000, #a6ca0e)
  color: blend('multiply', #ffffff, #a6ca0e)
  color: blend('multiply', #a633da, #a6ca0e)
  color: blend('multiply', #4be5b4, #a6ca0e)
  color: blend('multiply', #2fee48, #a6ca0e)
  color: blend('multiply', #a6ca0e, #a6ca0e)
  color: blend('multiply', #c22be1, #a6ca0e)
  color: blend('multiply', #000000, #c22be1)
  color: blend('multiply', #ffffff, #c22be1)
  color: blend('multiply', #a633da, #c22be1)
  color: blend('multiply', #4be5b4, #c22be1)
  color: blend('multiply', #2fee48, #c22be1)
  color: blend('multiply', #a6ca0e, #c22be1)
  color: blend('multiply', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #000;
  color: #a633da;
  color: #6c0aba;
  color: #312e9a;
  color: #1f303e;
  color: #6c280c;
  color: #7e09c0;
  color: #000;
  color: #4be5b4;
  color: #312e9a;
  color: #16ce7f;
  color: #0ed633;
  color: #31b50a;
  color: #39279f;
  color: #000;
  color: #2fee48;
  color: #1f303e;
  color: #0ed633;
  color: #09de14;
  color: #1fbd04;
  color: #242840;
  color: #000;
  color: #a6ca0e;
  color: #6c280c;
  color: #31b50a;
  color: #1fbd04;
  color: #6ca001;
  color: #7e220c;
  color: #000;
  color: #c22be1;
  color: #7e09c0;
  color: #39279f;
  color: #242840;
  color: #7e220c;
  color: #9407c7;
}
// @it `screen`
body
  color: blend('screen', #000000, #000000)
  color: blend('screen', #ffffff, #000000)
  color: blend('screen', #a633da, #000000)
  color: blend('screen', #4be5b4, #000000)
  color: blend('screen', #2fee48, #000000)
  color: blend('screen', #a6ca0e, #000000)
  color: blend('screen', #c22be1, #000000)
  color: blend('screen', #000000, #ffffff)
  color: blend('screen', #ffffff, #ffffff)
  color: blend('screen', #a633da, #ffffff)
  color: blend('screen', #4be5b4, #ffffff)
  color: blend('screen', #2fee48, #ffffff)
  color: blend('screen', #a6ca0e, #ffffff)
  color: blend('screen', #c22be1, #ffffff)
  color: blend('screen', #000000, #a633da)
  color: blend('screen', #ffffff, #a633da)
  color: blend('screen', #a633da, #a633da)
  color: blend('screen', #4be5b4, #a633da)
  color: blend('screen', #2fee48, #a633da)
  color: blend('screen', #a6ca0e, #a633da)
  color: blend('screen', #c22be1, #a633da)
  color: blend('screen', #000000, #4be5b4)
  color: blend('screen', #ffffff, #4be5b4)
  color: blend('screen', #a633da, #4be5b4)
  color: blend('screen', #4be5b4, #4be5b4)
  color: blend('screen', #2fee48, #4be5b4)
  color: blend('screen', #a6ca0e, #4be5b4)
  color: blend('screen', #c22be1, #4be5b4)
  color: blend('screen', #000000, #2fee48)
  color: blend('screen', #ffffff, #2fee48)
  color: blend('screen', #a633da, #2fee48)
  color: blend('screen', #4be5b4, #2fee48)
  color: blend('screen', #2fee48, #2fee48)
  color: blend('screen', #a6ca0e, #2fee48)
  color: blend('screen', #c22be1, #2fee48)
  color: blend('screen', #000000, #a6ca0e)
  color: blend('screen', #ffffff, #a6ca0e)
  color: blend('screen', #a633da, #a6ca0e)
  color: blend('screen', #4be5b4, #a6ca0e)
  color: blend('screen', #2fee48, #a6ca0e)
  color: blend('screen', #a6ca0e, #a6ca0e)
  color: blend('screen', #c22be1, #a6ca0e)
  color: blend('screen', #000000, #c22be1)
  color: blend('screen', #ffffff, #c22be1)
  color: blend('screen', #a633da, #c22be1)
  color: blend('screen', #4be5b4, #c22be1)
  color: blend('screen', #2fee48, #c22be1)
  color: blend('screen', #a6ca0e, #c22be1)
  color: blend('screen', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #a633da;
  color: #fff;
  color: #e05cfa;
  color: #c0eaf4;
  color: #b6f1e4;
  color: #e0d5dc;
  color: #ea55fb;
  color: #4be5b4;
  color: #fff;
  color: #c0eaf4;
  color: #80fce9;
  color: #6cfdc9;
  color: #c0fab8;
  color: #d4e9f6;
  color: #2fee48;
  color: #fff;
  color: #b6f1e4;
  color: #6cfdc9;
  color: #55fe7c;
  color: #b6fb52;
  color: #cdf1e9;
  color: #a6ca0e;
  color: #fff;
  color: #e0d5dc;
  color: #c0fab8;
  color: #b6fb52;
  color: #e0f41b;
  color: #ead3e3;
  color: #c22be1;
  color: #fff;
  color: #ea55fb;
  color: #d4e9f6;
  color: #cdf1e9;
  color: #ead3e3;
  color: #f04ffb;
}
// @it `overlay`
body
  color: blend('overlay', #000000, #000000)
  color: blend('overlay', #ffffff, #000000)
  color: blend('overlay', #a633da, #000000)
  color: blend('overlay', #4be5b4, #000000)
  color: blend('overlay', #2fee48, #000000)
  color: blend('overlay', #a6ca0e, #000000)
  color: blend('overlay', #c22be1, #000000)
  color: blend('overlay', #000000, #ffffff)
  color: blend('overlay', #ffffff, #ffffff)
  color: blend('overlay', #a633da, #ffffff)
  color: blend('overlay', #4be5b4, #ffffff)
  color: blend('overlay', #2fee48, #ffffff)
  color: blend('overlay', #a6ca0e, #ffffff)
  color: blend('overlay', #c22be1, #ffffff)
  color: blend('overlay', #000000, #a633da)
  color: blend('overlay', #ffffff, #a633da)
  color: blend('overlay', #a633da, #a633da)
  color: blend('overlay', #4be5b4, #a633da)
  color: blend('overlay', #2fee48, #a633da)
  color: blend('overlay', #a6ca0e, #a633da)
  color: blend('overlay', #c22be1, #a633da)
  color: blend('overlay', #000000, #4be5b4)
  color: blend('overlay', #ffffff, #4be5b4)
  color: blend('overlay', #a633da, #4be5b4)
  color: blend('overlay', #4be5b4, #4be5b4)
  color: blend('overlay', #2fee48, #4be5b4)
  color: blend('overlay', #a6ca0e, #4be5b4)
  color: blend('overlay', #c22be1, #4be5b4)
  color: blend('overlay', #000000, #2fee48)
  color: blend('overlay', #ffffff, #2fee48)
  color: blend('overlay', #a633da, #2fee48)
  color: blend('overlay', #4be5b4, #2fee48)
  color: blend('overlay', #2fee48, #2fee48)
  color: blend('overlay', #a6ca0e, #2fee48)
  color: blend('overlay', #c22be1, #2fee48)
  color: blend('overlay', #000000, #a6ca0e)
  color: blend('overlay', #ffffff, #a6ca0e)
  color: blend('overlay', #a633da, #a6ca0e)
  color: blend('overlay', #4be5b4, #a6ca0e)
  color: blend('overlay', #2fee48, #a6ca0e)
  color: blend('overlay', #a6ca0e, #a6ca0e)
  color: blend('overlay', #c22be1, #a6ca0e)
  color: blend('overlay', #000000, #c22be1)
  color: blend('overlay', #ffffff, #c22be1)
  color: blend('overlay', #a633da, #c22be1)
  color: blend('overlay', #4be5b4, #c22be1)
  color: blend('overlay', #2fee48, #c22be1)
  color: blend('overlay', #a6ca0e, #c22be1)
  color: blend('overlay', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #4d00b5;
  color: #f6f;
  color: #c114f4;
  color: #815ce9;
  color: #6e5fca;
  color: #c151b9;
  color: #d411f6;
  color: #00cb69;
  color: #96ffff;
  color: #62d5e9;
  color: #2cfad3;
  color: #1cfc93;
  color: #62f471;
  color: #72d4ed;
  color: #0d0;
  color: #5eff90;
  color: #3de47b;
  color: #1cfc66;
  color: #11fd29;
  color: #3df808;
  color: #48e37f;
  color: #4d9500;
  color: #ffff1c;
  color: #c1aa18;
  color: #81f414;
  color: #6ef808;
  color: #c1e902;
  color: #d4a719;
  color: #8500c3;
  color: #ff56ff;
  color: #d411f6;
  color: #a94ded;
  color: #9b50d4;
  color: #d444c6;
  color: #e20ff8;
}
// @it `darken`
body
  color: blend('darken', #000000, #000000)
  color: blend('darken', #ffffff, #000000)
  color: blend('darken', #a633da, #000000)
  color: blend('darken', #4be5b4, #000000)
  color: blend('darken', #2fee48, #000000)
  color: blend('darken', #a6ca0e, #000000)
  color: blend('darken', #c22be1, #000000)
  color: blend('darken', #000000, #ffffff)
  color: blend('darken', #ffffff, #ffffff)
  color: blend('darken', #a633da, #ffffff)
  color: blend('darken', #4be5b4, #ffffff)
  color: blend('darken', #2fee48, #ffffff)
  color: blend('darken', #a6ca0e, #ffffff)
  color: blend('darken', #c22be1, #ffffff)
  color: blend('darken', #000000, #a633da)
  color: blend('darken', #ffffff, #a633da)
  color: blend('darken', #a633da, #a633da)
  color: blend('darken', #4be5b4, #a633da)
  color: blend('darken', #2fee48, #a633da)
  color: blend('darken', #a6ca0e, #a633da)
  color: blend('darken', #c22be1, #a633da)
  color: blend('darken', #000000, #4be5b4)
  color: blend('darken', #ffffff, #4be5b4)
  color: blend('darken', #a633da, #4be5b4)
  color: blend('darken', #4be5b4, #4be5b4)
  color: blend('darken', #2fee48, #4be5b4)
  color: blend('darken', #a6ca0e, #4be5b4)
  color: blend('darken', #c22be1, #4be5b4)
  color: blend('darken', #000000, #2fee48)
  color: blend('darken', #ffffff, #2fee48)
  color: blend('darken', #a633da, #2fee48)
  color: blend('darken', #4be5b4, #2fee48)
  color: blend('darken', #2fee48, #2fee48)
  color: blend('darken', #a6ca0e, #2fee48)
  color: blend('darken', #c22be1, #2fee48)
  color: blend('darken', #000000, #a6ca0e)
  color: blend('darken', #ffffff, #a6ca0e)
  color: blend('darken', #a633da, #a6ca0e)
  color: blend('darken', #4be5b4, #a6ca0e)
  color: blend('darken', #2fee48, #a6ca0e)
  color: blend('darken', #a6ca0e, #a6ca0e)
  color: blend('darken', #c22be1, #a6ca0e)
  color: blend('darken', #000000, #c22be1)
  color: blend('darken', #ffffff, #c22be1)
  color: blend('darken', #a633da, #c22be1)
  color: blend('darken', #4be5b4, #c22be1)
  color: blend('darken', #2fee48, #c22be1)
  color: blend('darken', #a6ca0e, #c22be1)
  color: blend('darken', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #000;
  color: #a633da;
  color: #a633da;
  color: #4b33b4;
  color: #2f3348;
  color: #a6330e;
  color: #a62bda;
  color: #000;
  color: #4be5b4;
  color: #4b33b4;
  color: #4be5b4;
  color: #2fe548;
  color: #4bca0e;
  color: #4b2bb4;
  color: #000;
  color: #2fee48;
  color: #2f3348;
  color: #2fe548;
  color: #2fee48;
  color: #2fca0e;
  color: #2f2b48;
  color: #000;
  color: #a6ca0e;
  color: #a6330e;
  color: #4bca0e;
  color: #2fca0e;
  color: #a6ca0e;
  color: #a62b0e;
  color: #000;
  color: #c22be1;
  color: #a62bda;
  color: #4b2bb4;
  color: #2f2b48;
  color: #a62b0e;
  color: #c22be1;
}
// @it `lighten`
body
  color: blend('lighten', #000000, #000000)
  color: blend('lighten', #ffffff, #000000)
  color: blend('lighten', #a633da, #000000)
  color: blend('lighten', #4be5b4, #000000)
  color: blend('lighten', #2fee48, #000000)
  color: blend('lighten', #a6ca0e, #000000)
  color: blend('lighten', #c22be1, #000000)
  color: blend('lighten', #000000, #ffffff)
  color: blend('lighten', #ffffff, #ffffff)
  color: blend('lighten', #a633da, #ffffff)
  color: blend('lighten', #4be5b4, #ffffff)
  color: blend('lighten', #2fee48, #ffffff)
  color: blend('lighten', #a6ca0e, #ffffff)
  color: blend('lighten', #c22be1, #ffffff)
  color: blend('lighten', #000000, #a633da)
  color: blend('lighten', #ffffff, #a633da)
  color: blend('lighten', #a633da, #a633da)
  color: blend('lighten', #4be5b4, #a633da)
  color: blend('lighten', #2fee48, #a633da)
  color: blend('lighten', #a6ca0e, #a633da)
  color: blend('lighten', #c22be1, #a633da)
  color: blend('lighten', #000000, #4be5b4)
  color: blend('lighten', #ffffff, #4be5b4)
  color: blend('lighten', #a633da, #4be5b4)
  color: blend('lighten', #4be5b4, #4be5b4)
  color: blend('lighten', #2fee48, #4be5b4)
  color: blend('lighten', #a6ca0e, #4be5b4)
  color: blend('lighten', #c22be1, #4be5b4)
  color: blend('lighten', #000000, #2fee48)
  color: blend('lighten', #ffffff, #2fee48)
  color: blend('lighten', #a633da, #2fee48)
  color: blend('lighten', #4be5b4, #2fee48)
  color: blend('lighten', #2fee48, #2fee48)
  color: blend('lighten', #a6ca0e, #2fee48)
  color: blend('lighten', #c22be1, #2fee48)
  color: blend('lighten', #000000, #a6ca0e)
  color: blend('lighten', #ffffff, #a6ca0e)
  color: blend('lighten', #a633da, #a6ca0e)
  color: blend('lighten', #4be5b4, #a6ca0e)
  color: blend('lighten', #2fee48, #a6ca0e)
  color: blend('lighten', #a6ca0e, #a6ca0e)
  color: blend('lighten', #c22be1, #a6ca0e)
  color: blend('lighten', #000000, #c22be1)
  color: blend('lighten', #ffffff, #c22be1)
  color: blend('lighten', #a633da, #c22be1)
  color: blend('lighten', #4be5b4, #c22be1)
  color: blend('lighten', #2fee48, #c22be1)
  color: blend('lighten', #a6ca0e, #c22be1)
  color: blend('lighten', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #a633da;
  color: #fff;
  color: #a633da;
  color: #a6e5da;
  color: #a6eeda;
  color: #a6cada;
  color: #c233e1;
  color: #4be5b4;
  color: #fff;
  color: #a6e5da;
  color: #4be5b4;
  color: #4beeb4;
  color: #a6e5b4;
  color: #c2e5e1;
  color: #2fee48;
  color: #fff;
  color: #a6eeda;
  color: #4beeb4;
  color: #2fee48;
  color: #a6ee48;
  color: #c2eee1;
  color: #a6ca0e;
  color: #fff;
  color: #a6cada;
  color: #a6e5b4;
  color: #a6ee48;
  color: #a6ca0e;
  color: #c2cae1;
  color: #c22be1;
  color: #fff;
  color: #c233e1;
  color: #c2e5e1;
  color: #c2eee1;
  color: #c2cae1;
  color: #c22be1;
}
// @it `color-dodge`
body
  color: blend('color-dodge', #000000, #000000)
  color: blend('color-dodge', #ffffff, #000000)
  color: blend('color-dodge', #a633da, #000000)
  color: blend('color-dodge', #4be5b4, #000000)
  color: blend('color-dodge', #2fee48, #000000)
  color: blend('color-dodge', #a6ca0e, #000000)
  color: blend('color-dodge', #c22be1, #000000)
  color: blend('color-dodge', #000000, #ffffff)
  color: blend('color-dodge', #ffffff, #ffffff)
  color: blend('color-dodge', #a633da, #ffffff)
  color: blend('color-dodge', #4be5b4, #ffffff)
  color: blend('color-dodge', #2fee48, #ffffff)
  color: blend('color-dodge', #a6ca0e, #ffffff)
  color: blend('color-dodge', #c22be1, #ffffff)
  color: blend('color-dodge', #000000, #a633da)
  color: blend('color-dodge', #ffffff, #a633da)
  color: blend('color-dodge', #a633da, #a633da)
  color: blend('color-dodge', #4be5b4, #a633da)
  color: blend('color-dodge', #2fee48, #a633da)
  color: blend('color-dodge', #a6ca0e, #a633da)
  color: blend('color-dodge', #c22be1, #a633da)
  color: blend('color-dodge', #000000, #4be5b4)
  color: blend('color-dodge', #ffffff, #4be5b4)
  color: blend('color-dodge', #a633da, #4be5b4)
  color: blend('color-dodge', #4be5b4, #4be5b4)
  color: blend('color-dodge', #2fee48, #4be5b4)
  color: blend('color-dodge', #a6ca0e, #4be5b4)
  color: blend('color-dodge', #c22be1, #4be5b4)
  color: blend('color-dodge', #000000, #2fee48)
  color: blend('color-dodge', #ffffff, #2fee48)
  color: blend('color-dodge', #a633da, #2fee48)
  color: blend('color-dodge', #4be5b4, #2fee48)
  color: blend('color-dodge', #2fee48, #2fee48)
  color: blend('color-dodge', #a6ca0e, #2fee48)
  color: blend('color-dodge', #c22be1, #2fee48)
  color: blend('color-dodge', #000000, #a6ca0e)
  color: blend('color-dodge', #ffffff, #a6ca0e)
  color: blend('color-dodge', #a633da, #a6ca0e)
  color: blend('color-dodge', #4be5b4, #a6ca0e)
  color: blend('color-dodge', #2fee48, #a6ca0e)
  color: blend('color-dodge', #a6ca0e, #a6ca0e)
  color: blend('color-dodge', #c22be1, #a6ca0e)
  color: blend('color-dodge', #000000, #c22be1)
  color: blend('color-dodge', #ffffff, #c22be1)
  color: blend('color-dodge', #a633da, #c22be1)
  color: blend('color-dodge', #4be5b4, #c22be1)
  color: blend('color-dodge', #2fee48, #c22be1)
  color: blend('color-dodge', #a6ca0e, #c22be1)
  color: blend('color-dodge', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #a633da;
  color: #fff;
  color: #ff40ff;
  color: #ebffff;
  color: #cff;
  color: #fff5e7;
  color: #ff3dff;
  color: #4be5b4;
  color: #fff;
  color: #d7ffff;
  color: #6affff;
  color: #5cfffb;
  color: #d7ffbe;
  color: #fff;
  color: #2fee48;
  color: #fff;
  color: #87ffff;
  color: #43fff5;
  color: #3aff64;
  color: #87ff4c;
  color: #c4ffff;
  color: #a6ca0e;
  color: #fff;
  color: #fffd60;
  color: #ebff30;
  color: #ccff14;
  color: #ffff0f;
  color: #fff377;
  color: #c22be1;
  color: #fff;
  color: #ff36ff;
  color: #fff;
  color: #eff;
  color: #ffcfee;
  color: #ff34ff;
}
// @it `color-burn`
body
  color: blend('color-burn', #000000, #000000)
  color: blend('color-burn', #ffffff, #000000)
  color: blend('color-burn', #a633da, #000000)
  color: blend('color-burn', #4be5b4, #000000)
  color: blend('color-burn', #2fee48, #000000)
  color: blend('color-burn', #a6ca0e, #000000)
  color: blend('color-burn', #c22be1, #000000)
  color: blend('color-burn', #000000, #ffffff)
  color: blend('color-burn', #ffffff, #ffffff)
  color: blend('color-burn', #a633da, #ffffff)
  color: blend('color-burn', #4be5b4, #ffffff)
  color: blend('color-burn', #2fee48, #ffffff)
  color: blend('color-burn', #a6ca0e, #ffffff)
  color: blend('color-burn', #c22be1, #ffffff)
  color: blend('color-burn', #000000, #a633da)
  color: blend('color-burn', #ffffff, #a633da)
  color: blend('color-burn', #a633da, #a633da)
  color: blend('color-burn', #4be5b4, #a633da)
  color: blend('color-burn', #2fee48, #a633da)
  color: blend('color-burn', #a6ca0e, #a633da)
  color: blend('color-burn', #c22be1, #a633da)
  color: blend('color-burn', #000000, #4be5b4)
  color: blend('color-burn', #ffffff, #4be5b4)
  color: blend('color-burn', #a633da, #4be5b4)
  color: blend('color-burn', #4be5b4, #4be5b4)
  color: blend('color-burn', #2fee48, #4be5b4)
  color: blend('color-burn', #a6ca0e, #4be5b4)
  color: blend('color-burn', #c22be1, #4be5b4)
  color: blend('color-burn', #000000, #2fee48)
  color: blend('color-burn', #ffffff, #2fee48)
  color: blend('color-burn', #a633da, #2fee48)
  color: blend('color-burn', #4be5b4, #2fee48)
  color: blend('color-burn', #2fee48, #2fee48)
  color: blend('color-burn', #a6ca0e, #2fee48)
  color: blend('color-burn', #c22be1, #2fee48)
  color: blend('color-burn', #000000, #a6ca0e)
  color: blend('color-burn', #ffffff, #a6ca0e)
  color: blend('color-burn', #a633da, #a6ca0e)
  color: blend('color-burn', #4be5b4, #a6ca0e)
  color: blend('color-burn', #2fee48, #a6ca0e)
  color: blend('color-burn', #a6ca0e, #a6ca0e)
  color: blend('color-burn', #c22be1, #a6ca0e)
  color: blend('color-burn', #000000, #c22be1)
  color: blend('color-burn', #ffffff, #c22be1)
  color: blend('color-burn', #a633da, #c22be1)
  color: blend('color-burn', #4be5b4, #c22be1)
  color: blend('color-burn', #2fee48, #c22be1)
  color: blend('color-burn', #a6ca0e, #c22be1)
  color: blend('color-burn', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #000;
  color: #a633da;
  color: #7600d4;
  color: #001ccb;
  color: #00247c;
  color: #760000;
  color: #8a00d5;
  color: #000;
  color: #4be5b4;
  color: #007da7;
  color: #00e295;
  color: #00e300;
  color: #00de00;
  color: #1265aa;
  color: #000;
  color: #2fee48;
  color: #00aa29;
  color: #00ec00;
  color: #00ed00;
  color: #00ea00;
  color: #009a30;
  color: #000;
  color: #a6ca0e;
  color: #760000;
  color: #00c400;
  color: #00c600;
  color: #76bc00;
  color: #8a0000;
  color: #000;
  color: #c22be1;
  color: #a100dc;
  color: #3013d5;
  color: #001c95;
  color: #a10000;
  color: #af00dd;
}
// @it `hard-light`
body
  color: blend('hard-light', #000000, #000000)
  color: blend('hard-light', #ffffff, #000000)
  color: blend('hard-light', #a633da, #000000)
  color: blend('hard-light', #4be5b4, #000000)
  color: blend('hard-light', #2fee48, #000000)
  color: blend('hard-light', #a6ca0e, #000000)
  color: blend('hard-light', #c22be1, #000000)
  color: blend('hard-light', #000000, #ffffff)
  color: blend('hard-light', #ffffff, #ffffff)
  color: blend('hard-light', #a633da, #ffffff)
  color: blend('hard-light', #4be5b4, #ffffff)
  color: blend('hard-light', #2fee48, #ffffff)
  color: blend('hard-light', #a6ca0e, #ffffff)
  color: blend('hard-light', #c22be1, #ffffff)
  color: blend('hard-light', #000000, #a633da)
  color: blend('hard-light', #ffffff, #a633da)
  color: blend('hard-light', #a633da, #a633da)
  color: blend('hard-light', #4be5b4, #a633da)
  color: blend('hard-light', #2fee48, #a633da)
  color: blend('hard-light', #a6ca0e, #a633da)
  color: blend('hard-light', #c22be1, #a633da)
  color: blend('hard-light', #000000, #4be5b4)
  color: blend('hard-light', #ffffff, #4be5b4)
  color: blend('hard-light', #a633da, #4be5b4)
  color: blend('hard-light', #4be5b4, #4be5b4)
  color: blend('hard-light', #2fee48, #4be5b4)
  color: blend('hard-light', #a6ca0e, #4be5b4)
  color: blend('hard-light', #c22be1, #4be5b4)
  color: blend('hard-light', #000000, #2fee48)
  color: blend('hard-light', #ffffff, #2fee48)
  color: blend('hard-light', #a633da, #2fee48)
  color: blend('hard-light', #4be5b4, #2fee48)
  color: blend('hard-light', #2fee48, #2fee48)
  color: blend('hard-light', #a6ca0e, #2fee48)
  color: blend('hard-light', #c22be1, #2fee48)
  color: blend('hard-light', #000000, #a6ca0e)
  color: blend('hard-light', #ffffff, #a6ca0e)
  color: blend('hard-light', #a633da, #a6ca0e)
  color: blend('hard-light', #4be5b4, #a6ca0e)
  color: blend('hard-light', #2fee48, #a6ca0e)
  color: blend('hard-light', #a6ca0e, #a6ca0e)
  color: blend('hard-light', #c22be1, #a6ca0e)
  color: blend('hard-light', #000000, #c22be1)
  color: blend('hard-light', #ffffff, #c22be1)
  color: blend('hard-light', #a633da, #c22be1)
  color: blend('hard-light', #4be5b4, #c22be1)
  color: blend('hard-light', #2fee48, #c22be1)
  color: blend('hard-light', #a6ca0e, #c22be1)
  color: blend('hard-light', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #fff;
  color: #4d00b5;
  color: #00cb69;
  color: #0d0;
  color: #4d9500;
  color: #8500c3;
  color: #000;
  color: #fff;
  color: #f6f;
  color: #96ffff;
  color: #5eff90;
  color: #ffff1c;
  color: #ff56ff;
  color: #000;
  color: #fff;
  color: #c114f4;
  color: #62d5e9;
  color: #3de47b;
  color: #c1aa18;
  color: #d411f6;
  color: #000;
  color: #fff;
  color: #815ce9;
  color: #2cfad3;
  color: #1cfc66;
  color: #81f414;
  color: #a94ded;
  color: #000;
  color: #fff;
  color: #6e5fca;
  color: #1cfc93;
  color: #11fd29;
  color: #6ef808;
  color: #9b50d4;
  color: #000;
  color: #fff;
  color: #c151b9;
  color: #62f471;
  color: #3df808;
  color: #c1e902;
  color: #d444c6;
  color: #000;
  color: #fff;
  color: #d411f6;
  color: #72d4ed;
  color: #48e37f;
  color: #d4a719;
  color: #e20ff8;
}
// @it `soft-light`
body
  color: blend('soft-light', #000000, #000000)
  color: blend('soft-light', #ffffff, #000000)
  color: blend('soft-light', #a633da, #000000)
  color: blend('soft-light', #4be5b4, #000000)
  color: blend('soft-light', #2fee48, #000000)
  color: blend('soft-light', #a6ca0e, #000000)
  color: blend('soft-light', #c22be1, #000000)
  color: blend('soft-light', #000000, #ffffff)
  color: blend('soft-light', #ffffff, #ffffff)
  color: blend('soft-light', #a633da, #ffffff)
  color: blend('soft-light', #4be5b4, #ffffff)
  color: blend('soft-light', #2fee48, #ffffff)
  color: blend('soft-light', #a6ca0e, #ffffff)
  color: blend('soft-light', #c22be1, #ffffff)
  color: blend('soft-light', #000000, #a633da)
  color: blend('soft-light', #ffffff, #a633da)
  color: blend('soft-light', #a633da, #a633da)
  color: blend('soft-light', #4be5b4, #a633da)
  color: blend('soft-light', #2fee48, #a633da)
  color: blend('soft-light', #a6ca0e, #a633da)
  color: blend('soft-light', #c22be1, #a633da)
  color: blend('soft-light', #000000, #4be5b4)
  color: blend('soft-light', #ffffff, #4be5b4)
  color: blend('soft-light', #a633da, #4be5b4)
  color: blend('soft-light', #4be5b4, #4be5b4)
  color: blend('soft-light', #2fee48, #4be5b4)
  color: blend('soft-light', #a6ca0e, #4be5b4)
  color: blend('soft-light', #c22be1, #4be5b4)
  color: blend('soft-light', #000000, #2fee48)
  color: blend('soft-light', #ffffff, #2fee48)
  color: blend('soft-light', #a633da, #2fee48)
  color: blend('soft-light', #4be5b4, #2fee48)
  color: blend('soft-light', #2fee48, #2fee48)
  color: blend('soft-light', #a6ca0e, #2fee48)
  color: blend('soft-light', #c22be1, #2fee48)
  color: blend('soft-light', #000000, #a6ca0e)
  color: blend('soft-light', #ffffff, #a6ca0e)
  color: blend('soft-light', #a633da, #a6ca0e)
  color: blend('soft-light', #4be5b4, #a6ca0e)
  color: blend('soft-light', #2fee48, #a6ca0e)
  color: blend('soft-light', #a6ca0e, #a6ca0e)
  color: blend('soft-light', #c22be1, #a6ca0e)
  color: blend('soft-light', #000000, #c22be1)
  color: blend('soft-light', #ffffff, #c22be1)
  color: blend('soft-light', #a633da, #c22be1)
  color: blend('soft-light', #4be5b4, #c22be1)
  color: blend('soft-light', #2fee48, #c22be1)
  color: blend('soft-light', #a6ca0e, #c22be1)
  color: blend('soft-light', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #6c0aba;
  color: #ce72ec;
  color: #b21be7;
  color: #8e65e1;
  color: #816acc;
  color: #b258be;
  color: #bb18e8;
  color: #16ce7f;
  color: #8af2d6;
  color: #5ed7cc;
  color: #35efc2;
  color: #2af09d;
  color: #5eec85;
  color: #6cd6ce;
  color: #09de14;
  color: #6ef687;
  color: #42e475;
  color: #1ff562;
  color: #17f532;
  color: #42f31a;
  color: #50e379;
  color: #6ca001;
  color: #cee32f;
  color: #b2b126;
  color: #8ede1c;
  color: #81e008;
  color: #b2d902;
  color: #bbae28;
  color: #9407c7;
  color: #de69f0;
  color: #cb16eb;
  color: #af5ce7;
  color: #a560d5;
  color: #cb4fc9;
  color: #d113ec;
}
// @it `difference`
body
  color: blend('difference', #000000, #000000)
  color: blend('difference', #ffffff, #000000)
  color: blend('difference', #a633da, #000000)
  color: blend('difference', #4be5b4, #000000)
  color: blend('difference', #2fee48, #000000)
  color: blend('difference', #a6ca0e, #000000)
  color: blend('difference', #c22be1, #000000)
  color: blend('difference', #000000, #ffffff)
  color: blend('difference', #ffffff, #ffffff)
  color: blend('difference', #a633da, #ffffff)
  color: blend('difference', #4be5b4, #ffffff)
  color: blend('difference', #2fee48, #ffffff)
  color: blend('difference', #a6ca0e, #ffffff)
  color: blend('difference', #c22be1, #ffffff)
  color: blend('difference', #000000, #a633da)
  color: blend('difference', #ffffff, #a633da)
  color: blend('difference', #a633da, #a633da)
  color: blend('difference', #4be5b4, #a633da)
  color: blend('difference', #2fee48, #a633da)
  color: blend('difference', #a6ca0e, #a633da)
  color: blend('difference', #c22be1, #a633da)
  color: blend('difference', #000000, #4be5b4)
  color: blend('difference', #ffffff, #4be5b4)
  color: blend('difference', #a633da, #4be5b4)
  color: blend('difference', #4be5b4, #4be5b4)
  color: blend('difference', #2fee48, #4be5b4)
  color: blend('difference', #a6ca0e, #4be5b4)
  color: blend('difference', #c22be1, #4be5b4)
  color: blend('difference', #000000, #2fee48)
  color: blend('difference', #ffffff, #2fee48)
  color: blend('difference', #a633da, #2fee48)
  color: blend('difference', #4be5b4, #2fee48)
  color: blend('difference', #2fee48, #2fee48)
  color: blend('difference', #a6ca0e, #2fee48)
  color: blend('difference', #c22be1, #2fee48)
  color: blend('difference', #000000, #a6ca0e)
  color: blend('difference', #ffffff, #a6ca0e)
  color: blend('difference', #a633da, #a6ca0e)
  color: blend('difference', #4be5b4, #a6ca0e)
  color: blend('difference', #2fee48, #a6ca0e)
  color: blend('difference', #a6ca0e, #a6ca0e)
  color: blend('difference', #c22be1, #a6ca0e)
  color: blend('difference', #000000, #c22be1)
  color: blend('difference', #ffffff, #c22be1)
  color: blend('difference', #a633da, #c22be1)
  color: blend('difference', #4be5b4, #c22be1)
  color: blend('difference', #2fee48, #c22be1)
  color: blend('difference', #a6ca0e, #c22be1)
  color: blend('difference', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #fff;
  color: #000;
  color: #59cc25;
  color: #b41a4b;
  color: #d011b7;
  color: #5935f1;
  color: #3dd41e;
  color: #a633da;
  color: #59cc25;
  color: #000;
  color: #5bb226;
  color: #77bb92;
  color: #0097cc;
  color: #1c0807;
  color: #4be5b4;
  color: #b41a4b;
  color: #5bb226;
  color: #000;
  color: #1c096c;
  color: #5b1ba6;
  color: #77ba2d;
  color: #2fee48;
  color: #d011b7;
  color: #77bb92;
  color: #1c096c;
  color: #000;
  color: #77243a;
  color: #93c399;
  color: #a6ca0e;
  color: #5935f1;
  color: #0097cc;
  color: #5b1ba6;
  color: #77243a;
  color: #000;
  color: #1c9fd3;
  color: #c22be1;
  color: #3dd41e;
  color: #1c0807;
  color: #77ba2d;
  color: #93c399;
  color: #1c9fd3;
  color: #000;
}
// @it `exclusion`
body
  color: blend('exclusion', #000000, #000000)
  color: blend('exclusion', #ffffff, #000000)
  color: blend('exclusion', #a633da, #000000)
  color: blend('exclusion', #4be5b4, #000000)
  color: blend('exclusion', #2fee48, #000000)
  color: blend('exclusion', #a6ca0e, #000000)
  color: blend('exclusion', #c22be1, #000000)
  color: blend('exclusion', #000000, #ffffff)
  color: blend('exclusion', #ffffff, #ffffff)
  color: blend('exclusion', #a633da, #ffffff)
  color: blend('exclusion', #4be5b4, #ffffff)
  color: blend('exclusion', #2fee48, #ffffff)
  color: blend('exclusion', #a6ca0e, #ffffff)
  color: blend('exclusion', #c22be1, #ffffff)
  color: blend('exclusion', #000000, #a633da)
  color: blend('exclusion', #ffffff, #a633da)
  color: blend('exclusion', #a633da, #a633da)
  color: blend('exclusion', #4be5b4, #a633da)
  color: blend('exclusion', #2fee48, #a633da)
  color: blend('exclusion', #a6ca0e, #a633da)
  color: blend('exclusion', #c22be1, #a633da)
  color: blend('exclusion', #000000, #4be5b4)
  color: blend('exclusion', #ffffff, #4be5b4)
  color: blend('exclusion', #a633da, #4be5b4)
  color: blend('exclusion', #4be5b4, #4be5b4)
  color: blend('exclusion', #2fee48, #4be5b4)
  color: blend('exclusion', #a6ca0e, #4be5b4)
  color: blend('exclusion', #c22be1, #4be5b4)
  color: blend('exclusion', #000000, #2fee48)
  color: blend('exclusion', #ffffff, #2fee48)
  color: blend('exclusion', #a633da, #2fee48)
  color: blend('exclusion', #4be5b4, #2fee48)
  color: blend('exclusion', #2fee48, #2fee48)
  color: blend('exclusion', #a6ca0e, #2fee48)
  color: blend('exclusion', #c22be1, #2fee48)
  color: blend('exclusion', #000000, #a6ca0e)
  color: blend('exclusion', #ffffff, #a6ca0e)
  color: blend('exclusion', #a633da, #a6ca0e)
  color: blend('exclusion', #4be5b4, #a6ca0e)
  color: blend('exclusion', #2fee48, #a6ca0e)
  color: blend('exclusion', #a6ca0e, #a6ca0e)
  color: blend('exclusion', #c22be1, #a6ca0e)
  color: blend('exclusion', #000000, #c22be1)
  color: blend('exclusion', #ffffff, #c22be1)
  color: blend('exclusion', #a633da, #c22be1)
  color: blend('exclusion', #4be5b4, #c22be1)
  color: blend('exclusion', #2fee48, #c22be1)
  color: blend('exclusion', #a6ca0e, #c22be1)
  color: blend('exclusion', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #fff;
  color: #a633da;
  color: #4be5b4;
  color: #2fee48;
  color: #a6ca0e;
  color: #c22be1;
  color: #fff;
  color: #000;
  color: #59cc25;
  color: #b41a4b;
  color: #d011b7;
  color: #5935f1;
  color: #3dd41e;
  color: #a633da;
  color: #59cc25;
  color: #74523f;
  color: #8fbc5a;
  color: #98c2a7;
  color: #74acd0;
  color: #6b4d3a;
  color: #4be5b4;
  color: #b41a4b;
  color: #8fbc5a;
  color: #6a2f6a;
  color: #5e2896;
  color: #8f44ae;
  color: #9bc357;
  color: #2fee48;
  color: #d011b7;
  color: #98c2a7;
  color: #5e2896;
  color: #4d2067;
  color: #983f4e;
  color: #a9c9aa;
  color: #a6ca0e;
  color: #5935f1;
  color: #74acd0;
  color: #8f44ae;
  color: #983f4e;
  color: #74541a;
  color: #6bb1d6;
  color: #c22be1;
  color: #3dd41e;
  color: #6b4d3a;
  color: #9bc357;
  color: #a9c9aa;
  color: #6bb1d6;
  color: #5d4835;
}
// @it `hue`
body
  color: blend('hue', #000000, #000000)
  color: blend('hue', #ffffff, #000000)
  color: blend('hue', #a633da, #000000)
  color: blend('hue', #4be5b4, #000000)
  color: blend('hue', #2fee48, #000000)
  color: blend('hue', #a6ca0e, #000000)
  color: blend('hue', #c22be1, #000000)
  color: blend('hue', #000000, #ffffff)
  color: blend('hue', #ffffff, #ffffff)
  color: blend('hue', #a633da, #ffffff)
  color: blend('hue', #4be5b4, #ffffff)
  color: blend('hue', #2fee48, #ffffff)
  color: blend('hue', #a6ca0e, #ffffff)
  color: blend('hue', #c22be1, #ffffff)
  color: blend('hue', #000000, #a633da)
  color: blend('hue', #ffffff, #a633da)
  color: blend('hue', #a633da, #a633da)
  color: blend('hue', #4be5b4, #a633da)
  color: blend('hue', #2fee48, #a633da)
  color: blend('hue', #a6ca0e, #a633da)
  color: blend('hue', #c22be1, #a633da)
  color: blend('hue', #000000, #4be5b4)
  color: blend('hue', #ffffff, #4be5b4)
  color: blend('hue', #a633da, #4be5b4)
  color: blend('hue', #4be5b4, #4be5b4)
  color: blend('hue', #2fee48, #4be5b4)
  color: blend('hue', #a6ca0e, #4be5b4)
  color: blend('hue', #c22be1, #4be5b4)
  color: blend('hue', #000000, #2fee48)
  color: blend('hue', #ffffff, #2fee48)
  color: blend('hue', #a633da, #2fee48)
  color: blend('hue', #4be5b4, #2fee48)
  color: blend('hue', #2fee48, #2fee48)
  color: blend('hue', #a6ca0e, #2fee48)
  color: blend('hue', #c22be1, #2fee48)
  color: blend('hue', #000000, #a6ca0e)
  color: blend('hue', #ffffff, #a6ca0e)
  color: blend('hue', #a633da, #a6ca0e)
  color: blend('hue', #4be5b4, #a6ca0e)
  color: blend('hue', #2fee48, #a6ca0e)
  color: blend('hue', #a6ca0e, #a6ca0e)
  color: blend('hue', #c22be1, #a6ca0e)
  color: blend('hue', #000000, #c22be1)
  color: blend('hue', #ffffff, #c22be1)
  color: blend('hue', #a633da, #c22be1)
  color: blend('hue', #4be5b4, #c22be1)
  color: blend('hue', #2fee48, #c22be1)
  color: blend('hue', #a6ca0e, #c22be1)
  color: blend('hue', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #686868;
  color: #686868;
  color: #a633da;
  color: #009c6a;
  color: #03aa19;
  color: #657d00;
  color: #b62cd3;
  color: #b1b1b1;
  color: #b1b1b1;
  color: #dc8dff;
  color: #4be5b4;
  color: #54ee68;
  color: #aecb31;
  color: #ea86ff;
  color: #a2a2a2;
  color: #a2a2a2;
  color: #d578ff;
  color: #23e2a6;
  color: #2fee48;
  color: #9ec203;
  color: #e66fff;
  color: #ababab;
  color: #ababab;
  color: #d983ff;
  color: #2ee9ae;
  color: #39f551;
  color: #a6ca0e;
  color: #e97bff;
  color: #6c6c6c;
  color: #6c6c6c;
  color: #b033e9;
  color: #00a36f;
  color: #00b317;
  color: #698200;
  color: #c22be1;
}
// @it `saturation`
body
  color: blend('saturation', #000000, #000000)
  color: blend('saturation', #ffffff, #000000)
  color: blend('saturation', #a633da, #000000)
  color: blend('saturation', #4be5b4, #000000)
  color: blend('saturation', #2fee48, #000000)
  color: blend('saturation', #a6ca0e, #000000)
  color: blend('saturation', #c22be1, #000000)
  color: blend('saturation', #000000, #ffffff)
  color: blend('saturation', #ffffff, #ffffff)
  color: blend('saturation', #a633da, #ffffff)
  color: blend('saturation', #4be5b4, #ffffff)
  color: blend('saturation', #2fee48, #ffffff)
  color: blend('saturation', #a6ca0e, #ffffff)
  color: blend('saturation', #c22be1, #ffffff)
  color: blend('saturation', #000000, #a633da)
  color: blend('saturation', #ffffff, #a633da)
  color: blend('saturation', #a633da, #a633da)
  color: blend('saturation', #4be5b4, #a633da)
  color: blend('saturation', #2fee48, #a633da)
  color: blend('saturation', #a6ca0e, #a633da)
  color: blend('saturation', #c22be1, #a633da)
  color: blend('saturation', #000000, #4be5b4)
  color: blend('saturation', #ffffff, #4be5b4)
  color: blend('saturation', #a633da, #4be5b4)
  color: blend('saturation', #4be5b4, #4be5b4)
  color: blend('saturation', #2fee48, #4be5b4)
  color: blend('saturation', #a6ca0e, #4be5b4)
  color: blend('saturation', #c22be1, #4be5b4)
  color: blend('saturation', #000000, #2fee48)
  color: blend('saturation', #ffffff, #2fee48)
  color: blend('saturation', #a633da, #2fee48)
  color: blend('saturation', #4be5b4, #2fee48)
  color: blend('saturation', #2fee48, #2fee48)
  color: blend('saturation', #a6ca0e, #2fee48)
  color: blend('saturation', #c22be1, #2fee48)
  color: blend('saturation', #000000, #a6ca0e)
  color: blend('saturation', #ffffff, #a6ca0e)
  color: blend('saturation', #a633da, #a6ca0e)
  color: blend('saturation', #4be5b4, #a6ca0e)
  color: blend('saturation', #2fee48, #a6ca0e)
  color: blend('saturation', #a6ca0e, #a6ca0e)
  color: blend('saturation', #c22be1, #a6ca0e)
  color: blend('saturation', #000000, #c22be1)
  color: blend('saturation', #ffffff, #c22be1)
  color: blend('saturation', #a633da, #c22be1)
  color: blend('saturation', #4be5b4, #c22be1)
  color: blend('saturation', #2fee48, #c22be1)
  color: blend('saturation', #a6ca0e, #c22be1)
  color: blend('saturation', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #686868;
  color: #686868;
  color: #a633da;
  color: #a137d1;
  color: #af2bea;
  color: #ae2ce8;
  color: #ac2ee4;
  color: #b1b1b1;
  color: #b1b1b1;
  color: #42e9b4;
  color: #4be5b4;
  color: #32f1b5;
  color: #34f0b5;
  color: #38eeb4;
  color: #a2a2a2;
  color: #a2a2a2;
  color: #3ee553;
  color: #45df5a;
  color: #2fee48;
  color: #31ed49;
  color: #34ea4c;
  color: #ababab;
  color: #ababab;
  color: #a7c61f;
  color: #a7c42a;
  color: #a6ca0c;
  color: #a6ca0e;
  color: #a6c913;
  color: #6c6c6c;
  color: #6c6c6c;
  color: #bb30d7;
  color: #b535cf;
  color: #c628e7;
  color: #c529e5;
  color: #c22be1;
}
// @it `color`
body
  color: blend('color', #000000, #000000)
  color: blend('color', #ffffff, #000000)
  color: blend('color', #a633da, #000000)
  color: blend('color', #4be5b4, #000000)
  color: blend('color', #2fee48, #000000)
  color: blend('color', #a6ca0e, #000000)
  color: blend('color', #c22be1, #000000)
  color: blend('color', #000000, #ffffff)
  color: blend('color', #ffffff, #ffffff)
  color: blend('color', #a633da, #ffffff)
  color: blend('color', #4be5b4, #ffffff)
  color: blend('color', #2fee48, #ffffff)
  color: blend('color', #a6ca0e, #ffffff)
  color: blend('color', #c22be1, #ffffff)
  color: blend('color', #000000, #a633da)
  color: blend('color', #ffffff, #a633da)
  color: blend('color', #a633da, #a633da)
  color: blend('color', #4be5b4, #a633da)
  color: blend('color', #2fee48, #a633da)
  color: blend('color', #a6ca0e, #a633da)
  color: blend('color', #c22be1, #a633da)
  color: blend('color', #000000, #4be5b4)
  color: blend('color', #ffffff, #4be5b4)
  color: blend('color', #a633da, #4be5b4)
  color: blend('color', #4be5b4, #4be5b4)
  color: blend('color', #2fee48, #4be5b4)
  color: blend('color', #a6ca0e, #4be5b4)
  color: blend('color', #c22be1, #4be5b4)
  color: blend('color', #000000, #2fee48)
  color: blend('color', #ffffff, #2fee48)
  color: blend('color', #a633da, #2fee48)
  color: blend('color', #4be5b4, #2fee48)
  color: blend('color', #2fee48, #2fee48)
  color: blend('color', #a6ca0e, #2fee48)
  color: blend('color', #c22be1, #2fee48)
  color: blend('color', #000000, #a6ca0e)
  color: blend('color', #ffffff, #a6ca0e)
  color: blend('color', #a633da, #a6ca0e)
  color: blend('color', #4be5b4, #a6ca0e)
  color: blend('color', #2fee48, #a6ca0e)
  color: blend('color', #a6ca0e, #a6ca0e)
  color: blend('color', #c22be1, #a6ca0e)
  color: blend('color', #000000, #c22be1)
  color: blend('color', #ffffff, #c22be1)
  color: blend('color', #a633da, #c22be1)
  color: blend('color', #4be5b4, #c22be1)
  color: blend('color', #2fee48, #c22be1)
  color: blend('color', #a6ca0e, #c22be1)
  color: blend('color', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #000;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #686868;
  color: #686868;
  color: #a633da;
  color: #019b6a;
  color: #00ac16;
  color: #657d00;
  color: #be27dd;
  color: #b1b1b1;
  color: #b1b1b1;
  color: #dc8dff;
  color: #4be5b4;
  color: #3efd57;
  color: #add115;
  color: #ea86ff;
  color: #a2a2a2;
  color: #a2a2a2;
  color: #d578ff;
  color: #3cd6a5;
  color: #2fee48;
  color: #9ec206;
  color: #e66fff;
  color: #ababab;
  color: #ababab;
  color: #d983ff;
  color: #44dead;
  color: #37f650;
  color: #a6ca0e;
  color: #e97bff;
  color: #6c6c6c;
  color: #6c6c6c;
  color: #aa37de;
  color: #06a06f;
  color: #00b317;
  color: #698200;
  color: #c22be1;
}
// @it `luminosity`
body
  color: blend('luminosity', #000000, #000000)
  color: blend('luminosity', #ffffff, #000000)
  color: blend('luminosity', #a633da, #000000)
  color: blend('luminosity', #4be5b4, #000000)
  color: blend('luminosity', #2fee48, #000000)
  color: blend('luminosity', #a6ca0e, #000000)
  color: blend('luminosity', #c22be1, #000000)
  color: blend('luminosity', #000000, #ffffff)
  color: blend('luminosity', #ffffff, #ffffff)
  color: blend('luminosity', #a633da, #ffffff)
  color: blend('luminosity', #4be5b4, #ffffff)
  color: blend('luminosity', #2fee48, #ffffff)
  color: blend('luminosity', #a6ca0e, #ffffff)
  color: blend('luminosity', #c22be1, #ffffff)
  color: blend('luminosity', #000000, #a633da)
  color: blend('luminosity', #ffffff, #a633da)
  color: blend('luminosity', #a633da, #a633da)
  color: blend('luminosity', #4be5b4, #a633da)
  color: blend('luminosity', #2fee48, #a633da)
  color: blend('luminosity', #a6ca0e, #a633da)
  color: blend('luminosity', #c22be1, #a633da)
  color: blend('luminosity', #000000, #4be5b4)
  color: blend('luminosity', #ffffff, #4be5b4)
  color: blend('luminosity', #a633da, #4be5b4)
  color: blend('luminosity', #4be5b4, #4be5b4)
  color: blend('luminosity', #2fee48, #4be5b4)
  color: blend('luminosity', #a6ca0e, #4be5b4)
  color: blend('luminosity', #c22be1, #4be5b4)
  color: blend('luminosity', #000000, #2fee48)
  color: blend('luminosity', #ffffff, #2fee48)
  color: blend('luminosity', #a633da, #2fee48)
  color: blend('luminosity', #4be5b4, #2fee48)
  color: blend('luminosity', #2fee48, #2fee48)
  color: blend('luminosity', #a6ca0e, #2fee48)
  color: blend('luminosity', #c22be1, #2fee48)
  color: blend('luminosity', #000000, #a6ca0e)
  color: blend('luminosity', #ffffff, #a6ca0e)
  color: blend('luminosity', #a633da, #a6ca0e)
  color: blend('luminosity', #4be5b4, #a6ca0e)
  color: blend('luminosity', #2fee48, #a6ca0e)
  color: blend('luminosity', #a6ca0e, #a6ca0e)
  color: blend('luminosity', #c22be1, #a6ca0e)
  color: blend('luminosity', #000000, #c22be1)
  color: blend('luminosity', #ffffff, #c22be1)
  color: blend('luminosity', #a633da, #c22be1)
  color: blend('luminosity', #4be5b4, #c22be1)
  color: blend('luminosity', #2fee48, #c22be1)
  color: blend('luminosity', #a6ca0e, #c22be1)
  color: blend('luminosity', #c22be1, #c22be1)

// @expect

body {
  color: #000;
  color: #fff;
  color: #686868;
  color: #b1b1b1;
  color: #a2a2a2;
  color: #ababab;
  color: #6c6c6c;
  color: #000;
  color: #fff;
  color: #686868;
  color: #b1b1b1;
  color: #a2a2a2;
  color: #ababab;
  color: #6c6c6c;
  color: #000;
  color: #fff;
  color: #a633da;
  color: #dc8dff;
  color: #d578ff;
  color: #d983ff;
  color: #aa37de;
  color: #000;
  color: #fff;
  color: #019b6a;
  color: #4be5b4;
  color: #3cd6a5;
  color: #44dead;
  color: #06a06f;
  color: #000;
  color: #fff;
  color: #00ac16;
  color: #3efd57;
  color: #2fee48;
  color: #37f650;
  color: #00b317;
  color: #000;
  color: #fff;
  color: #657d00;
  color: #add115;
  color: #9ec206;
  color: #a6ca0e;
  color: #698200;
  color: #000;
  color: #fff;
  color: #be27dd;
  color: #ea86ff;
  color: #e66fff;
  color: #e97bff;
  color: #c22be1;
}