// @describe `blend()`


// @it `normal`
body
  color: blend('normal', grey(25%), grey(25%))
  color: blend('normal', gray, grey(25%))
  color: blend('normal', gray(0), grey(25%))
  color: blend('normal', grey(25%), gray)
  color: blend('normal', gray, gray)
  color: blend('normal', gray(0), gray)
  color: blend('normal', grey(25%), gray(0))
  color: blend('normal', gray, gray(0))
  color: blend('normal', gray(0), gray(0))

// @expect
body {
  color: #c0c0c0;
  color: #808080;
  color: #fff;
  color: #c0c0c0;
  color: #808080;
  color: #fff;
  color: #c0c0c0;
  color: #808080;
  color: #fff;
}

// @it `multiply`
body
  color: blend('multiply', grey(25%), grey(25%))
  color: blend('multiply', gray, grey(25%))
  color: blend('multiply', gray(0), grey(25%))
  color: blend('multiply', grey(25%), gray)
  color: blend('multiply', gray, gray)
  color: blend('multiply', gray(0), gray)
  color: blend('multiply', grey(25%), gray(0))
  color: blend('multiply', gray, gray(0))
  color: blend('multiply', gray(0), gray(0))

// @expect
body {
  color: #919191;
  color: #606060;
  color: #c0c0c0;
  color: #606060;
  color: #404040;
  color: #808080;
  color: #c0c0c0;
  color: #808080;
  color: #fff;
}

// @it `screen`
body
  color: blend('screen', grey(25%), grey(25%))
  color: blend('screen', gray, grey(25%))
  color: blend('screen', gray(0), grey(25%))
  color: blend('screen', grey(25%), gray)
  color: blend('screen', gray, gray)
  color: blend('screen', gray(0), gray)
  color: blend('screen', grey(25%), gray(0))
  color: blend('screen', gray, gray(0))
  color: blend('screen', gray(0), gray(0))

// @expect
body {
  color: #efefef;
  color: #e0e0e0;
  color: #fff;
  color: #e0e0e0;
  color: #c0c0c0;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `overlay`
body
  color: blend('overlay', grey(25%), grey(25%))
  color: blend('overlay', gray, grey(25%))
  color: blend('overlay', gray(0), grey(25%))
  color: blend('overlay', grey(25%), gray)
  color: blend('overlay', gray, gray)
  color: blend('overlay', gray(0), gray)
  color: blend('overlay', grey(25%), gray(0))
  color: blend('overlay', gray, gray(0))
  color: blend('overlay', gray(0), gray(0))

// @expect
body {
  color: #e0e0e0;
  color: #c0c0c0;
  color: #fff;
  color: #c0c0c0;
  color: #808080;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `darken`
body
  color: blend('darken', grey(25%), grey(25%))
  color: blend('darken', gray, grey(25%))
  color: blend('darken', gray(0), grey(25%))
  color: blend('darken', grey(25%), gray)
  color: blend('darken', gray, gray)
  color: blend('darken', gray(0), gray)
  color: blend('darken', grey(25%), gray(0))
  color: blend('darken', gray, gray(0))
  color: blend('darken', gray(0), gray(0))

// @expect
body {
  color: #c0c0c0;
  color: #808080;
  color: #c0c0c0;
  color: #808080;
  color: #808080;
  color: #808080;
  color: #c0c0c0;
  color: #808080;
  color: #fff;
}

// @it `lighten`
body
  color: blend('lighten', grey(25%), grey(25%))
  color: blend('lighten', gray, grey(25%))
  color: blend('lighten', gray(0), grey(25%))
  color: blend('lighten', grey(25%), gray)
  color: blend('lighten', gray, gray)
  color: blend('lighten', gray(0), gray)
  color: blend('lighten', grey(25%), gray(0))
  color: blend('lighten', gray, gray(0))
  color: blend('lighten', gray(0), gray(0))

// @expect
body {
  color: #c0c0c0;
  color: #c0c0c0;
  color: #fff;
  color: #c0c0c0;
  color: #808080;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `color-dodge`
body
  color: blend('color-dodge', grey(25%), grey(25%))
  color: blend('color-dodge', gray, grey(25%))
  color: blend('color-dodge', gray(0), grey(25%))
  color: blend('color-dodge', grey(25%), gray)
  color: blend('color-dodge', gray, gray)
  color: blend('color-dodge', gray(0), gray)
  color: blend('color-dodge', grey(25%), gray(0))
  color: blend('color-dodge', gray, gray(0))
  color: blend('color-dodge', gray(0), gray(0))

// @expect
body {
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `color-burn`
body
  color: blend('color-burn', grey(25%), grey(25%))
  color: blend('color-burn', gray, grey(25%))
  color: blend('color-burn', gray(0), grey(25%))
  color: blend('color-burn', grey(25%), gray)
  color: blend('color-burn', gray, gray)
  color: blend('color-burn', gray(0), gray)
  color: blend('color-burn', grey(25%), gray(0))
  color: blend('color-burn', gray, gray(0))
  color: blend('color-burn', gray(0), gray(0))

// @expect
body {
  color: #ababab;
  color: #818181;
  color: #c0c0c0;
  color: #565656;
  color: #020202;
  color: #808080;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `hard-light`
body
  color: blend('hard-light', grey(25%), grey(25%))
  color: blend('hard-light', gray, grey(25%))
  color: blend('hard-light', gray(0), grey(25%))
  color: blend('hard-light', grey(25%), gray)
  color: blend('hard-light', gray, gray)
  color: blend('hard-light', gray(0), gray)
  color: blend('hard-light', grey(25%), gray(0))
  color: blend('hard-light', gray, gray(0))
  color: blend('hard-light', gray(0), gray(0))

// @expect
body {
  color: #e0e0e0;
  color: #c0c0c0;
  color: #fff;
  color: #c0c0c0;
  color: #808080;
  color: #fff;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `soft-light`
body
  color: blend('soft-light', grey(25%), grey(25%))
  color: blend('soft-light', gray, grey(25%))
  color: blend('soft-light', gray(0), grey(25%))
  color: blend('soft-light', grey(25%), gray)
  color: blend('soft-light', gray, gray)
  color: blend('soft-light', gray(0), gray)
  color: blend('soft-light', grey(25%), gray(0))
  color: blend('soft-light', gray, gray(0))
  color: blend('soft-light', gray(0), gray(0))

// @expect
body {
  color: #cfcfcf;
  color: #c0c0c0;
  color: #ddd;
  color: #9b9b9b;
  color: #808080;
  color: #b5b5b5;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `difference`
body
  color: blend('difference', grey(25%), grey(25%))
  color: blend('difference', gray, grey(25%))
  color: blend('difference', gray(0), grey(25%))
  color: blend('difference', grey(25%), gray)
  color: blend('difference', gray, gray)
  color: blend('difference', gray(0), gray)
  color: blend('difference', grey(25%), gray(0))
  color: blend('difference', gray, gray(0))
  color: blend('difference', gray(0), gray(0))

// @expect
body {
  color: #000;
  color: #404040;
  color: #3f3f3f;
  color: #404040;
  color: #000;
  color: #7f7f7f;
  color: #3f3f3f;
  color: #7f7f7f;
  color: #000;
}

// @it `exclusion`
body
  color: blend('exclusion', grey(25%), grey(25%))
  color: blend('exclusion', gray, grey(25%))
  color: blend('exclusion', gray(0), grey(25%))
  color: blend('exclusion', grey(25%), gray)
  color: blend('exclusion', gray, gray)
  color: blend('exclusion', gray(0), gray)
  color: blend('exclusion', grey(25%), gray(0))
  color: blend('exclusion', gray, gray(0))
  color: blend('exclusion', gray(0), gray(0))

// @expect
body {
  color: #5e5e5e;
  color: #808080;
  color: #3f3f3f;
  color: #808080;
  color: #808080;
  color: #7f7f7f;
  color: #3f3f3f;
  color: #7f7f7f;
  color: #000;
}

// @it `hue`
body
  color: blend('hue', grey(25%), grey(25%))
  color: blend('hue', gray, grey(25%))
  color: blend('hue', gray(0), grey(25%))
  color: blend('hue', grey(25%), gray)
  color: blend('hue', gray, gray)
  color: blend('hue', gray(0), gray)
  color: blend('hue', grey(25%), gray(0))
  color: blend('hue', gray, gray(0))
  color: blend('hue', gray(0), gray(0))

// @expect
body {
  color: #c0c0c0;
  color: #c0c0c0;
  color: #c0c0c0;
  color: #808080;
  color: #808080;
  color: #808080;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `saturation`
body
  color: blend('saturation', grey(25%), grey(25%))
  color: blend('saturation', gray, grey(25%))
  color: blend('saturation', gray(0), grey(25%))
  color: blend('saturation', grey(25%), gray)
  color: blend('saturation', gray, gray)
  color: blend('saturation', gray(0), gray)
  color: blend('saturation', grey(25%), gray(0))
  color: blend('saturation', gray, gray(0))
  color: blend('saturation', gray(0), gray(0))

// @expect
body {
  color: #c0c0c0;
  color: #c0c0c0;
  color: #c0c0c0;
  color: #808080;
  color: #808080;
  color: #808080;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `color`
body
  color: blend('color', grey(25%), grey(25%))
  color: blend('color', gray, grey(25%))
  color: blend('color', gray(0), grey(25%))
  color: blend('color', grey(25%), gray)
  color: blend('color', gray, gray)
  color: blend('color', gray(0), gray)
  color: blend('color', grey(25%), gray(0))
  color: blend('color', gray, gray(0))
  color: blend('color', gray(0), gray(0))

// @expect
body {
  color: #c0c0c0;
  color: #c0c0c0;
  color: #c0c0c0;
  color: #808080;
  color: #808080;
  color: #808080;
  color: #fff;
  color: #fff;
  color: #fff;
}

// @it `luminosity`
body
  color: blend('luminosity', grey(25%), grey(25%))
  color: blend('luminosity', gray, grey(25%))
  color: blend('luminosity', gray(0), grey(25%))
  color: blend('luminosity', grey(25%), gray)
  color: blend('luminosity', gray, gray)
  color: blend('luminosity', gray(0), gray)
  color: blend('luminosity', grey(25%), gray(0))
  color: blend('luminosity', gray, gray(0))
  color: blend('luminosity', gray(0), gray(0))

// @expect
body {
  color: #c0c0c0;
  color: #808080;
  color: #fff;
  color: #c0c0c0;
  color: #808080;
  color: #fff;
  color: #c0c0c0;
  color: #808080;
  color: #fff;
}