body
  border-radius: 2px

support-for-firefox = 2
body
  &.legacy
    border-radius: 2px
    border-radius: 100%/100% !important
    border-radius: 1px 2px 3px 4px
    border-radius: initial !important
    border-radius: inherit

