// @describe `clearfix()`

// @it mixes-in Nicolas Gallagher's "micro clearfix hack"
support('ie 7')

.clearfix
  clearfix()

// @expect
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

// @it only includes IE specific rules when `support-for-ie` is < 8
support('ie 8')

.clearfix
  clearfix()

// @expect
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
