// @describe `clearfix()`

// @it mixes-in Nicolas Gallagher's "micro clearfix hack"
support('ie 7')

.clearfix
  clearfix()

// @expect
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

// @it only includes IE specific rules when supporting IE < 8
support('ie 8')

.clearfix
  clearfix()

// @expect
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

// @it supports ancient Firefox and Safari with `overflow: hidden`
support('firefox 2')

.clearfix
  clearfix()

// @expect
.clearfix {
  overflow: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}