// @describe `display`

// @it adds workarounds for `inline-block` on IE <= 7 (and Firefox <= 2!)
support('ie 7', 'firefox 2')
body
  display: inline-block

// @expect
body {
  *zoom: 1;
  *display: inline;
  display: -moz-inline-stack;
  display: inline-block;
}

// @it handles `!important`
support('ie 7', 'firefox 2')

body
  display: table !important

  div
    display: inline-block !important

// @expect
body {
  display: table !important;
}
body div {
  *zoom: 1;
  *display: inline !important;
  display: -moz-inline-stack !important;
  display: inline-block !important;
}
