// @describe `has-support()`

// @it checks version ranges against the `support-for-*` variables and returns `true` if one rule satisfies

support-none() // Was implicit anyway
support('ie 9.1')
support('firefox 15')

#numbers
  if has-support('ie < 10')
    zero: 0
  if has-support('ie < 9.5')
    one: 1
  if has-support('ie')
    two: 2
  if has-support('firefox < 16', 'ie < 12')
    three: 3
  if has-support('ie < 1', 'firefox')
    four: 4
  if !has-support('ie', 'firefox')
    four: 4
  if has-support('chrome', 'firefox < 20')
    five: 5
  if has-support('chrome')
    six: 6


// @expect
#numbers {
  zero: 0;
  one: 1;
  two: 2;
  three: 3;
  four: 4;
  five: 5;
}
