// @describe `has-support()`

// @it checks the corresponding `suppor-for-*` variables and return `true` if one rule satisfies
support-for-ie = 9.1
support-for-firefox = 15
support-for-chrome = no-support

#numbers
  if has-support('ie < 10')
    zero: 0
  if has-support('ie < 9.5')
    one: 1
  if has-support('ie')
    two: 2
  if has-support('firefox < 16', 'ie < 12')
    three: 3
  if has-support('ie < 1', 'firefox')
    four: 4
  if !has-support('ie', 'firefox')
    four: 4
  if has-support('chrome', 'firefox < 20')
    five: 5
  if has-support('chrome')
    six: 6


// @expect
#numbers {
  zero: 0;
  one: 1;
  two: 2;
  three: 3;
  four: 4;
  five: 5;
}
