// @describe `inherit`

// @it takes a list of property names and adds them all as `inherit` to current block
html
  inherit: font display background-color -moz-appareance

// @expect
html {
  font: inherit;
  display: inherit;
  background-color: inherit;
  -moz-appareance: inherit;
}

// @it can be used more than once on the same block
body
  inherit: margin padding
  inherit(font-style, font-weight)
  inherit: font-family

// @expect
body {
  margin: inherit;
  padding: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
}

// @it handles `!important`
html
  body
    inherit: width !important
    inherit(height !important)

// @expect
html body {
  width: inherit !important;
  height: inherit !important;
}