html
  inherit: font, display

  body
    inherit: width !important

    blockquote
      inherit(font-style, color)

support-for-chrome = 2

html
  body
    blockquote
      p
        inherit: font-size border-radius box-sizing !important;