// @describe `reset`

// @it resets `top`, `right`, `bottom`, `left`, `width` and `height` and `min/max-width/height` to `auto`
body
  reset: width height
body
  reset: left !important;
body
  reset: right top bottom;
body
  reset: min-width max-height min-height max-width

// @expect
body {
  width: auto;
  height: auto;
}
body {
  left: auto !important;
}
body {
  right: auto;
  top: auto;
  bottom: auto;
}
body {
  min-width: auto;
  max-height: auto;
  min-height: auto;
  max-width: auto;
}

// @it can set both `width` and `height` to `auto` with `reset: size`
body
  reset: size !important;

// @expect
body {
  width: auto !important;
  height: auto !important;
}

// @it resets paddings and and margins to `0`
body
  reset: padding margin;
  reset: padding-left margin-right padding-top margin-bottom;
  reset: margin-left padding-right margin-top padding-bottom;

// @expect
body {
  padding: 0;
  margin: 0;
  padding-left: 0;
  margin-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-right: 0;
  margin-top: 0;
  padding-bottom: 0;
}

// @it resets `border-radius` to `0`
body
  reset: border-top-left-radius;
  reset: border-top-right-radius;
  reset: border-bottom-right-radius;
  reset: border-bottom-left-radius;

support('firefox 1', 'chrome 1')
body
  reset: border-radius !important;

// @expect
body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
body {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

// @it resets `float` to `none`
body
  reset: float

// @expect
body {
  float: none;
}

// @it resets `text-transform` and `font-decoration` to `none`
body
  reset: text-transform font-decoration

// @expect
body {
  text-transform: none;
  font-decoration: none;
}

// @it resets `background` and `background-image` to `none`
body
  reset: background
  reset: background-image

// @expect
body {
  background: none;
  background-image: none;
}

// @it resets `font-weight`, `font-style`, `font-stretch` and `line-height` to `normal`
body
  reset: font-weight font-style font-stretch
  reset: line-height

// @expect
body {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

// @it resets `box-shadow` to `none`
body
  reset: box-shadow

support('safari 3')
body
  reset: box-shadow

// @expect
body {
  box-shadow: none;
}
body {
  -webkit-box-shadow: none;
  box-shadow: none;
}

// @it resets `visibility` to `visible`
body
  reset: visibility

// @expect
body {
  visibility: visible;
}

// @it resets `box-sizing` to `content-box`
support('firefox 1')
body
  reset: box-sizing

// @expect
body {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

// @it resets `opacity` to `1`
support('ie 8')
body
  reset: opacity

support('ie 7')
body
  reset: opacity !important

// @expect
body {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}
body {
  *filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}

// @it resets `cursor` to `default`
body
  reset: cursor

// @expect
body {
  cursor: default;
}

// @it resets `border-style` to `normal`
body
  reset: border-style

// @expect
body {
  border-style: normal;
}

// @it resets `border-width` to `medium`
body
  reset: border-width

// @expect
body {
  border-width: medium;
}

// @it resets `transition` and `transition-property` to `none`
body
  reset: transition-property !important
  reset: transition

// @expect
body {
  transition-property: none !important;
  transition: none;
}

// @it resets `transition-duration` and `transition-delay` to `0`
body
  reset: transition-duration transition-delay !important


// @expect
body {
  transition-duration: 0 !important;
  transition-delay: 0 !important;
}

// @it resets `transition-timing-function` to `ease`
body
  reset: transition-timing-function

// @expect
body {
  transition-timing-function: ease;
}

// @it can be called with no arguments
body
  reset()
  foo: bar

// @expect
body {
  foo: bar;
}