// @describe `size`

// @it
div
  size: 10px
  size: 10px !important
  size: 10px 20px
  size: 10px 20px !important

// @expect
div {
  width: 10px;
  height: 10px;
  width: 10px !important;
  height: 10px !important;
  width: 10px;
  height: 20px;
  width: 10px !important;
  height: 20px !important;
}