// @describe `size`

// @it takes one or two unit arguments and sets both `width` and `height` at once
div
  size: 10px
  size: 10px 20px

// @expect
div {
  width: 10px;
  height: 10px;
  width: 10px;
  height: 20px;
}

// @it handles `auto` and `initial` values
div
  size: auto 20px

div
  size: auto

div
  size: 50% initial

// @expect
div {
  width: auto;
  height: 20px;
}
div {
  width: auto;
  height: auto;
}
div {
  width: 50%;
  height: initial;
}

// @it handles `!important`
div
  size: 10px !important
  size: 10px auto !important
  size: auto !important

// @expect
div {
  width: 10px !important;
  height: 10px !important;
  width: 10px !important;
  height: auto !important;
  width: auto !important;
  height: auto !important;
}