// @describe `(min/max-)size`

// @it takes one or two unit arguments and sets both `(min/max-)width` and `(min/max-)height` at once
div
  size: 10px
  min-size: 1px
  max-size: 99px
  min-size: 1px 2px
  max-size: 2px 4px

// @expect
div {
  width: 10px;
  height: 10px;
  min-width: 1px;
  min-height: 1px;
  max-width: 99px;
  max-height: 99px;
  min-width: 1px;
  min-height: 2px;
  max-width: 2px;
  max-height: 4px;
}

// @it accepts `auto`, `none`, `inherit` and `initial` values
div
  min-size: inherit 20px
  max-size: none
  max-size: inherit none

div
  size: auto
  size: auto 20px
  size: inherit;
  size: 20px initial;

div
  size: 50% initial

// @expect
div {
  min-width: inherit;
  min-height: 20px;
  max-width: none;
  max-height: none;
  max-width: inherit;
  max-height: none;
}
div {
  width: auto;
  height: auto;
  width: auto;
  height: 20px;
  width: inherit;
  height: inherit;
  width: 20px;
  height: initial;
}
div {
  width: 50%;
  height: initial;
}

// @it handles `!important`
div
  size: 10px !important
  size: 10px auto !important
  min-size: 0 !important
  max-size: 1920px 1080px !important

// @expect
div {
  width: 10px !important;
  height: 10px !important;
  width: 10px !important;
  height: auto !important;
  min-width: 0 !important;
  min-height: 0 !important;
  max-width: 1920px !important;
  max-height: 1080px !important;
}