// @describe `transition-timing-function`

// @it can make use of the additional timing functions
div
  transition-timing-function: ease-in-quad
  transition-timing-function: ease-in-cubic
  transition-timing-function: ease-in-quart
  transition-timing-function: ease-in-quint
  transition-timing-function: ease-in-sine
  transition-timing-function: ease-in-expo
  transition-timing-function: ease-in-circ
  transition-timing-function: ease-in-back
  transition-timing-function: ease-out-quad
  transition-timing-function: ease-out-cubic
  transition-timing-function: ease-out-quart
  transition-timing-function: ease-out-quint
  transition-timing-function: ease-out-sine
  transition-timing-function: ease-out-expo
  transition-timing-function: ease-out-circ
  transition-timing-function: ease-out-back
  transition-timing-function: ease-in-out-quad
  transition-timing-function: ease-in-out-cubic
  transition-timing-function: ease-in-out-quart
  transition-timing-function: ease-in-out-quint
  transition-timing-function: ease-in-out-sine
  transition-timing-function: ease-in-out-expo
  transition-timing-function: ease-in-out-circ
  transition-timing-function: ease-in-out-back

// @expect
div {
  transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
  transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
  transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
  transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
  transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}