#beatles
  vendorize(john, -rythm-guitar vocals !important, (rip), true)
  paul: vendorize(guitar, (bass), false) vocals !important
  george: vendorize((guitar !important), (lead rythm bass), true)
  ringo: vendorize(drums, (just), true)

html
  vendorize('fancy-feature', 2px, (moz webkit))
  cool-feature: vendorize(foo, (ms), true)
  vendorize('old-feature', 57%, (), true)
  deprecated-feature: vendorize(none, (o ms), false)