#beatles
  vendor-prefix(john, -rythm-guitar vocals !important, (rip), true)
  paul: vendor-prefix(guitar, (bass), false) vocals !important
  george: vendor-prefix((guitar !important), (lead rythm bass), true)
  ringo: vendor-prefix(drums, (just), true)

html
  vendor-prefix('fancy-feature', 2px, (moz webkit))
  cool-feature: vendor-prefix(foo, (ms), true)
  vendor-prefix('old-feature', 57%, (), true)
  deprecated-feature: vendor-prefix(none, (o ms), false)