/**
 * References:
 *
 * http://www.w3.org/TR/css3-background/#the-border-radius
 * http://caniuse.com/border-radius
 */

-vendorize-border-radius(property, arguments)
  if has-support('ie < 9')
    warn('IE < 9 does not support `border-radius`');

  vendors = ()

  if has-support('firefox < 4')
    push(vendors, moz)

  if has-support(
      'chrome < 5',
      'android-browser < 2.2',
      'safari < 5',
      'ios-safari < 4'
    )
    push(vendors, webkit)

  vendorize(property, arguments, vendors)

border-radius()
  -vendorize-border-radius('border-radius', arguments)

border-top-left-radius()
  -vendorize-border-radius('border-top-left-radius', arguments)

border-top-right-radius()
  -vendorize-border-radius('border-top-right-radius', arguments)

border-bottom-left-radius()
  -vendorize-border-radius('border-bottom-left-radius', arguments)

border-bottom-right-radius()
  -vendorize-border-radius('border-bottom-right-radius', arguments)

