/**
 * http://caniuse.com/css3-boxsizing
 */

box-sizing()
  vendors = ()

  if has-support('firefox < 29')
    push(vendors, moz)

  if has-support(
      'chrome < 10',
      'safari < 5.1',
      'ios-safari < 5',
      'android-browser < 4',
      'blackberry-browser < 10'
    )
    push(vendors, webkit)

  vendorize(box-sizing, arguments, vendors)