/**
 * http://caniuse.com/css-boxshadow
 */

box-shadow()
  vendors = ()

  if has-support('firefox < 4')
    push(vendors, moz)

  if has-support(
      'chrome < 10',
      'safari < 5.1',
      'ios-safari < 5',
      'android-browser < 4',
      'blackberry-browser < 10'
    )
    push(vendors, webkit)

  vendorize('box-shadow', arguments, vendors)