/**
 * http://caniuse.com/css-boxshadow
 */

box-shadow()
  if has-support('ie < 9')
    p(support-for-ie)
    warn('IE < 9 does not support `box-shadow`')

  if has-support('firefox < 3.5')
    warn('Firefox < 3.5 does not support `box-shadow`')

  if has-support('opera < 10.5')
    warn('Opera < 10.5 does not support `box-shadow`')

  if has-support('opera-mini')
    warn('Opera Mini does not support `box-shadow`')

  if has-support('opera-mobile < 11')
    warn('Opera Mobile < 11 does not support `box-shadow`')

  vendors = ()

  if has-support('firefox < 4')
    push(vendors, moz)

  if has-support(
      'chrome < 10',
      'safari < 5.1',
      'ios-safari < 5',
      'android-browser < 4',
      'blackberry-browser < 10'
    )
    push(vendors, webkit)

  vendorize('box-shadow', arguments, vendors)