/**
 * References:
 *
 * http://caniuse.com/flexbox
 * http://css-tricks.com/old-flexbox-and-new-flexbox/
 * http://coding.smashingmagazine.com/2013/05/22/centering-elements-with-flexbox/
 * https://github.com/visionmedia/nib/blob/master/lib/nib/flex.styl
 * https://github.com/h5bp/lazyweb-requests/issues/120
 * http://dev.opera.com/articles/view/advanced-cross-browser-flexbox/
 * https://gist.github.com/cimmanon/727c9d558b374d27c5b6
 * https://gist.github.com/cimmanon/4461470
 */

flex(grow)
  if grow is none or grow is initial
    grow = 0

  if arguments[length(arguments) - 1] is !important
    importance = !important
  else
    importance = unquote('')

  -old-flex-grow(grow, importance)

  vendors = ()

  if has-support('ie < 11', 'ie-mobile < 11')
    push(vendors, ms)

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
      'chrome < 29',
      'safari',
      'opera < 17',
      'ios-safari',
      'blackberry-browser'
    )
    push(vendors, webkit)

  vendorize('flex', arguments, vendors)

