/**
 * References:
 *
 * http://caniuse.com/flexbox
 * http://css-tricks.com/old-flexbox-and-new-flexbox/
 * http://coding.smashingmagazine.com/2013/05/22/centering-elements-with-flexbox/
 * https://github.com/visionmedia/nib/blob/master/lib/nib/flex.styl
 * https://github.com/h5bp/lazyweb-requests/issues/120
 * http://dev.opera.com/articles/view/advanced-cross-browser-flexbox/
 * https://gist.github.com/cimmanon/727c9d558b374d27c5b6
 * https://gist.github.com/cimmanon/4461470
 */
-old-flex-direction(mode, args...)
  importance = unquote('')
  for arg in args
    if arg is !important
      importance = !important

  // IE syntax
  if has-support('ie < 11', 'ie-mobile < 11')
    vendorize('flex-direction', arguments, (ms), false)

  // Old spec
  if has-support(
      'chrome < 21',
      'safari < 6.1',
      'ios-safari < 7',
      'android-browser < 4.4',
      'blackberry-browser < 10',
      'firefox < 28',
      'android-firefox'
    )

    reverse = false

    if mode is row
      orient = horizontal
    else if mode is row-reverse
      orient = horizontal
      reverse = true
    else if mode is column
      orient = vertical
    else if mode is column-reverse
      orient = vertical
      reverse = true
    else
      orient = mode

    vendors = ()

    if has-support('firefox < 28', 'android-firefox')
      push(vendors, moz)

    if has-support(
        'chrome < 21',
        'safari < 6.1',
        'ios-safari < 7',
        'android-browser < 4.4',
        'blackberry-browser < 10'
      )
      push(vendors, webkit)

    for vendor in vendors
      vendorize('box-orient', (orient args), (vendor), false)
      if reverse
        vendorize('box-direction', (unquote('reverse') importance), (vendor), false)

flex-direction(mode, args...)
  -old-flex-direction(mode, args)

  // New syntax
  vendors = ()

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
        'chrome < 29',
        'opera < 17',
        'ios-safari',
        'blackberry-browser'
      )
    push(vendors, webkit)

  vendorize('flex-direction', arguments, vendors)

-old-flex-wrap(mode, args...)
  if has-support('ie < 11', 'ie-mobile < 11')
    vendorize('flex-wrap', arguments, (ms), false)

  // Old spec
  if has-support(
      'chrome < 21',
      'safari < 6.1',
      'ios-safari < 7',
      'android-browser < 4.4',
      'blackberry-browser < 10',
      'firefox < 28',
      'android-firefox'
    )

    reverse = false

    // Warning: wrap-reverse is not supported in old syntax
    if mode is nowrap
      lines = single
    else if mode is wrap
      lines = multiple
    else
      lines = mode

    vendors = ()

    if has-support('firefox < 28', 'android-firefox')
      push(vendors, moz)

    if has-support(
        'chrome < 21',
        'safari < 6.1',
        'ios-safari < 7',
        'android-browser < 4.4',
        'blackberry-browser < 10'
      )
      push(vendors, webkit)

    vendorize('box-lines', (lines args), vendors, false)

flex-wrap(mode, args...)
  -old-flex-wrap(mode, args)

  // New syntax
  vendors = ()

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
      'chrome < 29',
      'safari',
      'opera < 17',
      'ios-safari',
      'blackberry-browser'
    )
    push(vendors, webkit)

  vendorize('flex-wrap', arguments, vendors)

-old-flex-grow()
  // Old spec
  if has-support(
      'chrome < 21',
      'safari < 6.1',
      'ios-safari < 7',
      'android-browser < 4.4',
      'blackberry-browser < 10',
      'firefox < 28',
      'android-firefox'
    )

    vendors = ()

    if has-support('firefox < 28', 'android-firefox')
      push(vendors, moz)

    if has-support(
        'chrome < 21',
        'safari < 6.1',
        'ios-safari < 7',
        'android-browser < 4.4',
        'blackberry-browser < 10'
      )
      push(vendors, webkit)

    vendorize('box-flex', arguments, vendors, false)

flex-grow()
  -old-flex-grow(arguments)

  // New syntax
  vendors = ()

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
      'chrome < 29',
      'safari',
      'opera < 17',
      'ios-safari',
      'blackberry-browser'
    )
    push(vendors, webkit)

  vendorize('flex-grow', arguments, vendors)

flex-shrink()
  vendors = ()

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
      'chrome < 29',
      'safari',
      'opera < 17',
      'ios-safari',
      'blackberry-browser'
    )
    push(vendors, webkit)

  vendorize('flex-shrink', arguments, vendors)

flex-basis()
  vendors = ()

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
      'chrome < 29',
      'safari',
      'opera < 17',
      'ios-safari',
      'blackberry-browser'
    )
    push(vendors, webkit)

  vendorize('flex-basis', arguments, vendors)

flex-flow()
  // Old spec
  importance = unquote('')
  direction = null
  wrapping = null

  for arg in arguments
    if arg is !important
      importance = !important
    else if arg in (row column row-reverse)
      direction = arg
    else if arg in (wrap nowrap wrap-reverse)
      wrapping = arg

  if direction isnt null
    -old-flex-direction(direction, importance)

  if wrapping isnt null
    -old-flex-wrap(wrapping, importance)

  // New spec
  vendors = ()

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
      'chrome < 29',
      'safari',
      'opera < 17',
      'ios-safari',
      'blackberry-browser'
    )
    push(vendors, webkit)

  vendorize('flex-flow', arguments, vendors)

flex(grow)
  if grow is none or grow is initial
    grow = 0

  if arguments[length(arguments) - 1] is !important
    importance = !important
  else
    importance = unquote('')

  -old-flex-grow(grow, importance)

  vendors = ()

  if has-support('ie < 11', 'ie-mobile < 11')
    push(vendors, ms)

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
      'chrome < 29',
      'safari',
      'opera < 17',
      'ios-safari',
      'blackberry-browser'
    )
    push(vendors, webkit)

  vendorize('flex', arguments, vendors)

