/**
 * Montblanc.
 */

use('cast.js')

@require 'initial'
@require 'support'

// Utilities, add-on functions...
@require 'vendorize'
@require 'clearfix'
use('grey.js')
@require 'opaque'
@require 'degrees'
@require 'normalize'

// Additional timing functions, ripped from
// [Axis](https://github.com/jenius/axis/blob/0.2.0/axis/utilities.styl#L286),
// which took them from [Bourbon](https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_timing-functions.scss)
json('data/timing-functions.json')

// Add-on properties
@require 'inherit'
@require 'reset'
@require 'size'

// Overloaded properties
@require 'display'
@require 'justify-content'
@require 'align-items'
@require 'align-self'
@require 'align-content'
@require 'order'
@require 'flex'
@require 'opacity'
@require 'box-sizing'
@require 'border-radius'
@require 'border-image'
@require 'box-shadow'
@require 'background-size'
@require 'transition'
@require 'hyphens'
@require 'user-select'
@require 'tab-size'
@require 'image-rendering'
