inherit()
  properties = ()
  importance = ''

  for arg in arguments
    if arg is !important
      importance = ' !important'
    else
      push(properties, arg)

  for property in properties
    val = unquote('inherit' + importance)
    add-property(property, val)
