initial-values = json('data/initial.json', { hash: true })

for property, value in initial-values
  initial-values[property] = unquote('%s' % initial-values[property])

initial()
  property = cast(shift(arguments), 'string')

  if length(arguments) > 0
    // Jesus Christ...
    value = unquote('')
    for arg, i  in arguments
      if i > 0
        value = unquote('%s,' % value)
      value = unquote('%s %s' % (value ('%s' % arg)))

    value = unquote(value)
    initial-values[property] = value
  else
    if initial-values[property]
      return initial-values[property]
    else
      return null

