initial-direction                  ?= ltr
initial-font-family                ?= sans-serif
initial-font-size                  ?= medium
initial-color                      ?= black
initial-line-height                ?= normal
initial-box-sizing                 ?= content-box
initial-tab-size                   ?= 8
initial-transition-duration        ?= 0
initial-transition-delay           ?= 0
initial-transition-timing-function ?= ease
initial-transform-origin           ?= 50% 50%
initial-backface-visibility        ?= visible
