initial-font-family                ?= sans-serif
initial-font-size                  ?= medium
initial-color                      ?= black
initial-line-height                ?= normal
initial-box-sizing                 ?= content-box
initial-tab-size                   ?= 8
initial-transition-timing-function ?= ease


