justify-content(mode, args...)
  // Old syntax
  if has-support(
      'chrome < 21',
      'safari < 6.1',
      'ios-safari < 7',
      'android-browser < 4.4',
      'blackberry-browser < 10',
      'firefox < 28',
      'android-firefox',
      'ie < 11',
      'ie-mobile < 11'
    )
    if mode is flex-start
      pack = start
    else if mode is flex-end
      pack = end
    else if mode is space-between
      pack = justify
    else if mode is space-around
      // Warning, only supported by "Mid" syntax (IE 10)
      pack = distribute
    else if mode is center
      pack = center
    else
      error()

    if has-support('ie < 11', 'ie-mobile < 11')
      vendorize('flex-pack', pack args, (ms), false)

    vendors = ()

    if has-support('firefox < 28', 'android-firefox')
      vendorize('box-pack', pack args, (moz), false)

    if has-support(
        'chrome < 21',
        'safari < 6.1',
        'ios-safari < 7',
        'android-browser < 4.4',
        'blackberry-browser < 10'
      )
      vendorize('box-pack', pack args, (webkit), false)

  // New syntax
  vendors = ()

  if has-support('firefox < 22')
    push(vendors, moz)

  if has-support(
        'chrome < 29',
        'opera < 17',
        'ios-safari',
        'blackberry-browser'
      )
    push(vendors, webkit)

  vendorize('justify-content', arguments, vendors)
