/**
 * Resets one or more properties to their initial values.
 */
reset()
  importance = null
  if arguments[length(arguments) - 1] is !important
    importance = !important

  for prop in arguments
    v = initial('%s' % prop)

    if v is null
      if prop is text-align
        dir = @direction
        dir ?= initial('direction')

        if dir is rtl
          v = right
        else
          v = left

    if v isnt null
      if importance isn null
        add-property(prop, v importance)
      else
        add-property(prop, v)