/**
 *
 */
vendorize()
  args = clone(arguments)
  property = mixin ? shift(args) : current-property
  property = unquote(property) if property is a 'string'

  l = length(args)

  value = l > 0 ? args[0] : null;
  value = unquote(value) if value is a 'string'

  prefixes = ()
  push(prefixes, args[1]) if l > 1

  unprefixed = (l <= 2) or args[2]

  if mixin
    // @dtodo Don't know why, but this dummy `if true` is a workaround for a
    // bug. If removed, variables are not available after `if unprefixed`
    if true
      for prefix in prefixes
        add-property('-%s-%s' % (prefix property), value)
    if unprefixed
      add-property('%s' % property, value)
  else
    k = length(prefixes)
    for prefix, i in prefixes
      prefixed = '-%s-%s' % (prefix value)
      if ((i + 1) >= k) and (not unprefixed)
        return prefixed
      else
        add-property(property, prefixed)
    if unprefixed
      return value
